<div class="question_fields">
  <% if form.mode == :edit && !(forms = @question.forms).empty? %>
    <div class="tip important">
      <%= t("question.appears_elsewhere", :forms => forms.map{|f| f.name}.join(", ")) %>
      <%= t("question.other_forms_published") if @question.published? %>
    </div>
  <% end %>
  
  <%= form_field(form, :code, :required => true, :maxlength => 20) %>
  <%= form_field(form, :qtype_name, :type => :select, :required => true, 
    :options => @question_types.map{|qt| [t(qt.name, :scope => :question_type), qt.name]}) %>
  <%= form_field(form, :option_set_id, :type => :select, :options => sel_opts_from_objs(@option_sets)) %>

  <div class="minmax">
    <%= form_field(form, :minimum, :partial => "questions/min_max_condition") %>
    <%= form_field(form, :maximum, :partial => "questions/min_max_condition") %>
  </div>
  
  <% (configatron.languages).each_with_index do |lang, rank| %>
    <%= render("questions/title_and_hint", :lang => lang, :form => form, :rank => rank) %>
  <% end %>
</div>

<%= javascript_doc_ready do %>
  new ELMO.Question();
<% end %>