<% if read_only %>
  <div class="ro-val" data-val="<%= form.object.option_set_id %>">
    <%= link_to(form.object.option_set.name, form.object.option_set) if form.object.option_set %>
  </div>
<% else %>
  <%= form.select(:option_set_id,
    option_set_select_option_tags(@option_sets, form.object.option_set_id),
    {include_blank: true}, class: "form-control") %>
  <%= link_to('+ ' + t('activerecord.action_links.option_set.new'), '#', class: 'create_option_set') %>
  <br/>
  <% if form.object.has_conditions? %>
    <div class="note">
      <%= icon_tag("warning") %>
      <%= t('question.opt_set_warning') %>
    </div>
  <% end %>
<% end %>
