<% rowbg = 0 %>
<div class="tip"><%= reqd_sym %> Indicates a required field</div>
<table class="form">
  <%= render("questions/title_and_hint", :lang => Language.english, :f => f) %>
  <tr class="rowbg<%= rowbg = 1 - rowbg %>">
    <td class="name">Code <%= reqd_sym %></td>
    <td class="value"><%= f.text_field(:code, :maxlength => 20) %></td>
    <td class="details">
      A short codename (between 2-20 characters). Should contain only letters and numbers, e.g. BallotBoxSealed, DepartTime.
    </td>
  </tr>
  <tr class="rowbg<%= rowbg = 1 - rowbg %>">
    <td class="name">Type <%= reqd_sym %></td>
    <td class="value">
      <%= f.select(:question_type_id, QuestionType.select_options, {:include_blank => true}, 
        :onchange => "show_hide_option_set(this.options[this.selectedIndex].text)") %>
    </td>
    <td class="details">
      The kind of information the user will be entering.
    </td>
  </tr>
  <tr class="rowbg<%= rowbg = 1 - rowbg %>">
    <td class="name">Option Set <%= reqd_sym %></td>
    <td class="value">
      <%= f.select(:option_set_id, OptionSet.select_options, {:include_blank => true}, 
        {:id => "option_set", :style => question.is_select? ? '' : 'display: none'}) %>
      <div id="option_set_not_applicable" <%= question.is_select? || f.mode == :show ? 'style="display: none"'.html_safe : ''%>>
        Not applicable
      </div>
    </td>
    <td class="details">
      The set of options the user will be able to choose from.
    </td>
  </tr>
  <% (Language.active - [Language.english]).each do |lang| %>
    <%= render("questions/title_and_hint", :lang => lang, :f => f) %>
  <% end %>
</table>