<% @title_args = {code: @question.code, standardized: @question.standardized?} %>
<%= elmo_form_for(@question, html: {multipart: true}) do |f| %>
  <%= top_action_links(@question) %>
  <%# Fields are contained in a partial because they are also used in the questioning form. %>
  <%= render("fields", f: f) %>
  <div class="submit-buttons">
    <%= f.submit(class: 'btn btn-primary') %>
  </div>
<% end %>

<%= javascript_doc_ready do %>
  // This is the newer view for controlling the Question/Questioning form, prefer this one to QuestionForm.
  new ELMO.Views.QuestionFormView({el: '.question_form'});
<% end %>
