<div class="inner">

  <%# Spacing placeholder for styling purposes %>
  <div class="standardized"></div>

  <div class="type"><%= form_item_icon('group') %></div>

  <div class="base-info">
    <div class="wrapper"><%# Need this so we can handle wrapping nicely %>
      <div><%= qing_group.group_name %></div>
      <% if qing_group.repeatable? %>
        <%= icon_tag("repeat", title: t("qing_group.tooltips.repeatable")) %>
      <% end %>
      <% if Odk::DecoratorFactory.decorate(qing_group).one_screen_appropriate? %>
        <%= icon_tag("file-o", title: t("qing_group.tooltips.one_screen")) %>
      <% else %>
        <%= icon_tag("files-o", title: t("qing_group.tooltips.multi_screen")) %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <% unless read_only %>
      <%= link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_qing_group_path(qing_group),
        class: 'action_link edit' %>

      <%= link_to content_tag(:i, '', class: 'fa fa-trash-o'), '#', class: 'action_link delete',
        data: {message: I18n.t('activerecord.attributes.qing_group.delete', name: qing_group.group_name)} %>
    <% end %>
  </div>
</div> <%# End of form group info %>
