<div class="group-modal modal fade new-modal-style" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close group-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t("form.add_group") %></h4>
      </div>
      <div class="modal-body group-form">
        <%#= @qing_group.inspect %>
        <%= elmo_form_for(@qing_group) do |f| %>
          <%= f.field(:form_id, type: :hidden) %>

          <% configatron.preferred_locales.each do |locale| %>
            <% lang_suffix = " (#{language_name(locale)})" %>
            <%= f.field(:"group_name_#{locale}",
                label: QingGroup.human_attribute_name("group_name") + lang_suffix) %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default group-cancel" data-dismiss="modal"><%= I18n.t("common.cancel") %></button>
        <button type="button" class="btn btn-primary group-save"><%= I18n.t("common.save") %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
