<li class="form-item form-item-group" data-id="<%= qing_group.id %>">
  <div class="inner">

    <%# Spacing placeholder for styling purposes %>
    <div class="standardized"></div>

    <div class="type"><%= form_item_icon('group') %></div>

    <div class="base-info">
      <div class="wrapper"><%# Need this so we can handle wrapping nicely %>
        <div><%= qing_group.group_name %></div>
      </div>
    </div>

    <div class="actions">
      <% unless read_only %>
        <%= link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_qing_group_path(qing_group),
          class: 'action_link edit' %>

        <% unless qing_group.has_children? %>
          <%= link_to content_tag(:i, '', class: 'fa fa-trash-o'), '#', class: 'action_link delete',
            data: {message: I18n.t('activerecord.attributes.qing_group.delete', name: qing_group.group_name)} %>
        <% end %>
      <% end %>
    </div>
  </div> <%# End of form group info %>

  <ol class="item-list">
    <% if qing_group.has_children? %>
      <% qing_group.children.each do |item| %>
        <%= render('form_item', item: item) %>
      <% end %>
    <% end %>
  </ol>
</li>
