<li class="form-item form-item-group" data-id="<%= qing_group.id %>">
  <div class="inner">

    <%# Spacing placeholder for styling purposes %>
    <div class="standardized"></div>

    <div class="type"><%= form_item_icon('group') %></div>

    <div class="base-info">
      <span class="name"><%= qing_group.group_name %></span>
    </div>

    <% if form_mode == :edit %>
      <div class="actions">
        <%= link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_qing_group_path(qing_group), class: 'edit action_link' %>

        <% if !qing_group.has_children? %>
          <%= link_to content_tag(:i, '', class: 'fa fa-trash-o'), qing_group, class: 'delete', data: {message: I18n.t('activerecord.attributes.qing_group.delete', name: qing_group.group_name)}, class: 'action_link' %>
        <% end %>
      </div>
    <% end %>
  </div> <%# End of form group info %>

  <ol class="item-list">
    <% if qing_group.has_children? %>
      <% qing_group.children.each do |item| %>
        <%= render('form_item', item: item) %>
      <% end %>
    <% end %>
  </ol>
</li>
