<div id="group-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close group-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <% if @qing_group.group_name && action_name == "edit" %>
            <%= I18n.t("activerecord.attributes.qing_group.edit") %>
          <% elsif @qing_group.new_record? %>
            <%= I18n.t("activerecord.attributes.qing_group.add") %>
          <% elsif action_name == "show" %>
            <%= I18n.t("activerecord.attributes.qing_group.show", name: @qing_group.group_name) %>
          <% end %>
        </h4>
      </div>

      <div class="modal-body group-form">
        <%= elmo_form_for(@qing_group) do |f| %>
          <%= f.field(:form_id, type: :hidden) %>
          <%= f.field(:repeatable, type: :check_box) %>
          <% configatron.preferred_locales.each do |locale| %>
            <% lang_suffix = " (#{language_name(locale)})" %>
            <%= f.field(:"group_name_#{locale}",
                label: QingGroup.human_attribute_name("group_name") + lang_suffix) %>
            <%= f.field(:"group_hint_#{locale}",
                label: QingGroup.human_attribute_name("group_hint") + lang_suffix) %>
            <%= f.field(:"group_item_name_#{locale}",
                label: QingGroup.human_attribute_name("group_item_name") + lang_suffix,
                hint: t("activerecord.hints.qing_group.group_item_name")) %>
          <% end %>
          <% if @one_screen_disabled %>
            <%= f.field(:one_screen, content: t("qing_group.one_screen_disabled")) %>
            <%= f.hidden_field(:one_screen) %>
          <% else %>
            <%= f.field(:one_screen, type: :check_box) %>
          <% end %>
          <%= f.field(:display_logic,
                partial: "questionings/display_logic",
                locals: {form_item: @qing_group}) %>
        <% end %>
      </div>
      <% if action_name != "show" %>
        <div class="modal-footer">
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">
            <%= I18n.t("common.cancel") %>
          </button>
          <button type="button" class="btn btn-primary save">
            <%= I18n.t("common.save") %>
          </button>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
