<div class="modal-body group-form">
  <%= Forms::IntegrityWarnings::Builder.new(@qing_group) %>
  <%= elmo_form_for(@qing_group) do |f| %>
    <%= f.base_errors %>
    <%= f.field(:form_id, type: :hidden) %>
    <%= f.field(:repeatable, type: :check_box) %>
    <% current_mission_config.preferred_locales.each do |locale| %>
      <% lang_suffix = " (#{language_name(locale)})" %>
      <%= f.field(:"group_name_#{locale}",
          label: QingGroup.human_attribute_name("group_name") + lang_suffix) %>
      <%= f.field(:"group_hint_#{locale}",
          label: QingGroup.human_attribute_name("group_hint") + lang_suffix) %>
      <%= f.field(:"group_item_name_#{locale}",
          label: QingGroup.human_attribute_name("group_item_name") + lang_suffix,
          hint: t("activerecord.hints.qing_group.group_item_name")) %>
    <% end %>
    <% if @one_screen_disabled %>
      <%= f.field(:one_screen, content: t("qing_group.one_screen_disabled")) %>
      <%= f.hidden_field(:one_screen) %>
    <% else %>
      <%= f.field(:one_screen, type: :check_box) %>
    <% end %>
    <%= f.field(:display_logic,
          partial: "questionings/display_logic",
          locals: {form_item: @qing_group}) %>
  <% end %>
</div>
