<%# TODO refactor to use nested_attributes %>
<%= fields_for("questioning[condition]", @condition) do |f| %>
  <%= render("layouts/object_errors", :object => @condition, :compact => true) %>
  <% f.mode = form_mode %>
  <div class="row">
    <div><%= translate_model(Question) %></div>
    <div>
      <%= f.select(:ref_qing_id, @condition.refable_qings.map{|q| ["#{q.rank}. #{q.question.code}", q.id]}, 
        {:include_blank => true}) %>
    </div>
  </div>

  <div class="row">
    <div><%=t "conditions.op" %></div>
    <div>
      <%= f.select(:op, translate_options(@condition.applicable_operator_names, [:conditions, :operators]), 
        :include_blank => true) %>
    </div>
  </div>
  
  <div class="row">
    <div><%=t "conditions.value" %></div>
    <div>
      <%= f.text_field(:value, :id => "questioning_condition_value",
        :style => @condition.has_options? ? "display: none" : "") %>
      <%= f.select(:option_id, @condition.ref_question_select_options, {:include_blank => true}, 
        :style => @condition.has_options? ? "" : "display: none", 
        :id => "questioning_condition_option_id") %>
    </div>
  </div>
<% end %>

<% if controller.action_name != "show" %>
  <script type="text/javascript">
    new ELMO.ConditionForm(<%= @condition.to_json(:dropdown_values => true).html_safe %>);
  </script>
<% end %>