<%# NOTE this template does not use elmo_form_for because it is rendered inside the control area of
    an elmo form field and therefore doesn't need all the structure that comes with an elmo form field %>
<%# if there are no referrable questionings, no point in showing the condition form %>
<% if @condition.refable_qings.empty? %>

  <%= t('condition.no_refable_qings') %>

<% else %>

  <% if read_only || cannot?(:update_condition, @condition.questioning) %>

    <%# if in show mode and the condition is blank, just show 'none' %>
    <%= @condition.blank? || @condition.ref_qing.nil? ? t('common.none') : @condition.to_s(:include_code => true) %>

  <% else %>

    <div id="condition-form-fields">
      <%= render('conditions/form_fields') %>
    </div>

    <%= javascript_doc_ready do %>
      new ELMO.Views.ConditionFormView(<%=json @condition %>);
    <% end %>

  <% end # show mode? %>

<% end # if no refable qings %>
