<h2>
  <%= current_user.role(current_mission) == "enumerator" ?
    t("dashboard.my_responses") : t("dashboard.recent_responses") %>
</h2>
<div class="recent-responses-table">
  <%# cache the recent responses and use the explicit submit date instead of the age %>
  <% if responses.empty? %>
    <%= t('will_paginate.response.page_entries_info.single_page_html.zero') %>
  <% else %>
    <%= index_table(responses, klass: Response, table_only: true) %>
  <% end %>

  <%# outside the cache block we need to tell the list view to highlight new responses %>
  <%= javascript_doc_ready do %>
    ELMO.app.dashboard.listView.highlightResponsesAfter(<%=json params[:latest_response_id] %>)
  <% end %>
</div>
