<div class="report-header">
  <% if @reports.empty? %>
    <h2 class="interior"><%= translate_model(Report::Report) %></h2>
  <% else %>
    <div class="report-title">
      <h2 class="interior">
        <span class="report-title-text">
          <%= @report ? @report.name : t("common.report") %>
        </span>
        &nbsp;
        <% if @report %>
          <% if can?(:update, @report) %>
            <%= action_link(:edit, edit_report_path(@report), label: false) %>
          <% end %>
          <%= action_link(:close, "#", label: false) %>
        <% end %>
        <%= inline_load_ind %>
      </h2>
      <form class="report-chooser">
        <%= select_tag("rpid", options_from_collection_for_select(@reports, "id", "name"),
                       prompt: I18n.t("report/report.choose_report"),
                       class: "custom-select custom-select-sm") %>
      </form>
    </div>
  <% end %>
</div>
<div class="report-content">
  <%= render("report_content") %>
</div>
