<div class="stat-block">
  <h2><%= t("dashboard.summary") %></h2>
  <ul>
    <li><%= link_to(translate_recent_responses(@recent_response_count), responses_path) %></li>
    <li><%= link_to(t_markdown("welcome.total_responses", count: number_with_delimiter(@total_response_count)), responses_path) %></li>
    <li><%= link_to(t_markdown("welcome.awaiting_review", count: number_with_delimiter(@unreviewed_response_count)), responses_path(search: "reviewed:no")) %></li>
  </ul>
</div>
<div class="stat-block">
  <% unless @responses.empty? %>
    <h2><%= t('dashboard.top_forms') %></h2>
    <ul>
      <% @responses_by_form.each do |row| %>
        <li>
          <%= link_to(content_tag(:strong, number_with_delimiter(row['count'])) + ' ' + row['form_name'],
            responses_path(search: "form:\"#{row['form_name']}\"")) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
