<% content_for(:per_page_js, safe_str << google_maps_js << report_chart_js) %>
<% content_for(:audio) do %>
  <%# this path is hard coded because the audio_tag/path helpers are not working and i can't figure out why %>
  <%# they produce /audios/ship-bell.mp3 instead of the correct /assets/ship-bell.mp3 %>
  <%# so i moved the whole audios directory to /public for now %>
  <audio id="new-arrival-sound" src="/audios/ship-bell.mp3"></audio>
<% end %>

<%# placing this up here so it's the first call to document.ready, so that the pane sizing happens before report drawing %>
<%= javascript_doc_ready do %>
  // delete any previous instance
  delete ELMO.app.dashboard;

  ELMO.app.dashboard = new ELMO.Views.DashboardView(<%=json(
    mission_id: current_mission.id, # needed for storing the map bounds between refreshes
    reloadInterval: Rails.env.development? ? 10 : 30, # shorter interval is better for debugging
    map: {
      offline: offline?,
      locations: @response_locations,
      info_window_url: dashboard_info_window_url,
      small_marker_url: image_url("markers/small.png")
    }
  )%>);
<% end %>

<div class="panes">
  <div class="left-col">
    <div class="recent-responses">
      <%= render(partial: "recent_responses") %>
    </div>
    <div class="response-locations">
      <%= render(partial: "response_locations") %>
    </div>
  </div>
  <div class="right-col">
    <div class="stats">
      <%= render(partial: "stats") %>
    </div>
    <div class="report">
      <%= render(partial: "report") %>
    </div>
    <div class="links">
      <a href="#" class="full-screen">
        <%= icon_tag("expand") %>
        <span><%= I18n.t("dashboard.enter_full_screen") %></span>
      </a>
    </div>
  </div>
</div>

<%# Link for shrinking map. Shown only when expanded map is shown. %>
<div class="expanded-map-links">
  <a href="#" class="toggle-map">
    <i class="fa fa-compress"></i>
    <%= t("dashboard.shrink_map") %>
  </a>
</div>

<%# These links are for testing purposes %>
<% if Rails.env.test? %>
  <a href="#" class="reload-ajax">Reload via AJAX</a>
  <a href="#" class="reload-page">Reload Page</a>
<% end %>

<%= javascript_doc_ready do %>
  <%# Hides/displays appropriate full screen elements if necessary %>
  ELMO.app.dashboard.setFullScreen();
  ELMO.app.dashboard.setExpandedMap();
<% end %>
