<% content_for(:per_page_js) do
   # load the mapping API
   javascript_include_tag("https://maps.googleapis.com/maps/api/js?sensor=false") +
   
   # load report stuff
   report_js_includes
end %>

<%= link_to('&times;'.html_safe, root_path, :class => 'close_dashboard') %>

<div class="col left_col">
  <h2><%= t('dashboard.recent_responses') %></h2>

  <div class="recent_responses">
    <%= index_table(Response, @responses, :table_only => true) %>
  </div>

  <h2 class="interior"><%= t('dashboard.response_locations') %></h2>

  <div class="response_locations">
  </div>

</div>

<div class="col right_col">
  <form class="report_chooser">
    <%= select_tag('report_id', options_from_collection_for_select(@reports, 'id', 'name'), :prompt => t('report/report.choose_report')) %>
  </form>

  <div class="report_header">
  </div>
  
  <div class="report_main">
  </div>
</div>
<%= javascript_doc_ready do %>
  new ELMO.Views.Dashboard({
    map: {
      locations: <%=j @location_answers.to_json.html_safe %>,
      info_window_url: <%=j dashboard_info_window_url.to_json.html_safe %>
    },
    report: {
      id: <%= @report.id %>
    }
  });
<% end %>