<% @title = "Reset Password" %>

<%= flash_and_form_errors(@user) %>

<div class="tip">
  <%= t("password_resets.enter_new_pass", :name => content_tag(:strong, @user.name)).html_safe %>
</div>

<%= nice_form_for(@user, :url => password_reset_path, :method => :put) do |f| %>
  <%= form_field(f, :password, :type => :password) %>
  <%= form_field(f, :password_confirmation, :type => :password) %>
  <%= form_submit_button(f, :label => :save) %>
<% end %>
