<div class="tip">
	<strong><%= @user.login %></strong>, please enter a new password for your account.
</div>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= show_flash_and_form_errors(@user) %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Update Password and Login" %>
<% end %>