<div class="tip">
  <strong><%= @user.name %></strong>, please enter a new password for your account.
</div>
<% rowbg = 0 %>
<%= nice_form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%= flash_and_form_errors(@user) %>
  <table class="form">
    <tr class="rowbg<%= rowbg = 1 - rowbg %>">
      <td class="name"><%= f.label :password %><%= reqd_sym %></td>
      <td class="value"><%= f.password_field :password %></td>
      <td class="details"></td>
    </tr>
    <tr class="rowbg<%= rowbg = 1 - rowbg %>">
      <td class="name"><%= f.label :password_confirmation %><%= reqd_sym %></td>
      <td class="value"><%= f.password_field :password_confirmation %></td>
      <td class="details"></td>
    </tr>
  </table>
  <%= f.submit "Update Password and Login" %>
<% end %>
