<% @title = "Reset Password" %>
<%= flash_and_form_errors %>

<div class="tip">
  <%= t("password_resets.fill_out_form") %>
</div>

<%= nice_form_for(@password_reset) do |f| %>
  <%= form_field(f, :email) %>
  <%= form_submit_button(f, :label => :send) %>
<% end %>