<%# Non-ResponseNode fields at the top of the response form. %>
<div class="metadata">
  <%= f.field(:old_id, content: "##{@response.old_id}", read_only: true) if @response.old_id.present? %>
  <%= f.field(:form_id, content: link_to(@response.form.name, @response.form)) %>
  <%= f.field(:user_id, type: :select, required: true, options: sel_opts_from_objs(@response.user),
                        read_only: cannot?(:manage, @response),
                        # Some users are not linkable currently if they're not assigned to the mission.
                        # If we give nil read_only_content then it will revert to the default.
                        read_only_content: can?(:read, @response.user) ?
                          link_to(@response.user.try(:name), @response.user) : nil) %>

  <% unless form_mode == :new %>
    <%= f.field(:source) if read_only %>
    <%= f.field(:reviewer_id, type: :select, options: sel_opts_from_objs(@response.reviewer),
                              read_only: cannot?(:review, @response),
                              read_only_content: can?(:read, @response.reviewer) ?
                                link_to(@response.reviewer.try(:name), @response.reviewer) : nil) %>
    <%= f.field(:reviewed, type: :check_box, read_only: cannot?(:review, @response)) %>
    <% if can?(:review, @response) %>
      <%= f.field(:reviewer_notes, type: :textarea,
                                   read_only: cannot?(:review, @response),
                                   read_only_content: simple_format(@response.reviewer_notes)) %>
    <% end %>
  <% end %>
</div>
