<%# load the mapping API %>
<% content_for(:per_page_js){ javascript_google_maps } %>

<%# title includes ID if defined %>
<% @title_args = {id: @response.decorate.shortcode} %>

<%# This needs to be up here so it runs before the MediaUploaderViews are initialized. %>
<%= javascript_doc_ready do %>
  ELMO.media_uploader_manager = new ELMO.Views.MediaUploaderManager(<%=json(
    el: ".response_form",
    preview_template: render("responses/answers/dropzone_preview")
  )%>);
<% end %>

<% @response.answers.collect{|a| a.errors.full_messages.join(", ")}.join(" ") %>

<div id="response-form-wrapper">
  <%= elmo_form_for(@response, read_only: @read_only, override_class: "response-form") do |f| %>
    <%= f.base_errors %>
    <%= f.field(:form_id, type: :hidden) %>

    <%= render("metadata", f: f) %>

    <div class="nodes">
      <%= render("hierarchical_responses/answers/nodes", nodes: f.object.children, context: @context) %>
    </div>

    <%= f.field(:incomplete, type: :check_box) if can?(:submit_incomplete, @response) %>

    <div class="submit-buttons">
      <%= f.submit(class: "btn btn-primary") %>
      <% if form_mode == :edit && can?(:review, @response) %>
        <%= f.submit(t("response.save_and_mark_reviewed"), class: "btn btn-primary", name: "commit_and_mark_reviewed", read_only: false) %>
      <% end %>
      <div id="upload-progress-notice" class="btn btn-default" disabled="disabled">
        <%= image_tag("load-ind-small.gif") %>
        <%= t("response.upload_progress_notice") %>
      </div>
    </div>
  <% end %>

  <%= render("layouts/location_picker") %>
</div>

<%= javascript_doc_ready do %>
  new ELMO.Views.ResponseFormView(<%=json(
    el: "#response-form-wrapper",
    submitter_url: @response.new_record? ? possible_users_new_response_path(search_mode: "submitters") :
      possible_users_response_path(@response, search_mode: "submitters"),
    reviewer_url: @response.new_record? ? possible_users_new_response_path(search_mode: "reviewers") :
      possible_users_response_path(@response, search_mode: "reviewers")
  )%>);
<% end %>
