<%# if this is an empty batch (not one with errors) show the normal form %>
<% if @user_batch.lines.nil? %>
  <%= form_for(@user_batch, :html => {:class => 'user_batch_form'}) do |f| %>
    <%= simple_format(t('user_batch.instructions'), {}, :sanitize => false) %>
    <%= f.text_area(:batch, :class => "form-control") %>
    <div class="submit-buttons">
      <%= f.submit(t('common.create'), :class => "btn btn-primary") %>
    </div>
  <% end %>

<%# otherwise show a special form with info about each line %>
<% else %>

  <%= form_for(@user_batch, :html => {:class => 'user_batch_form'}) do |f| %>
    <% @user_batch.lines.each_with_index do |line, idx| %>
      <% ok = line[:user] && line[:user].valid? %>
      <div class="batch_line_with_info <%= ok ? 'line_ok' : 'line_error' %>">
        <input type="text" name="user_batch[lines][][text]" value="<%= line[:text] %>" class="form-control" />
        <div class="info">
          <% if ok %>
            <i class="icon-ok"></i>
            <%= t('common.ok') %>
          <% else %>
            <i class="icon-exclamation"></i>
            <%= get_line_errors(line) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= f.submit(t('common.try_again'), :class =>"btn btn-primary") %>
  <% end %>
<% end %>