<div id="file-uploader">
  <%= hidden_field_tag(:saved_upload_id, "", id: "saved_upload_id") %>

  <div id="dropzone-file-uploader" class="dropzone no-thumb">
    <div class="dz-message">
      <span class="message"><%= t("common.file_drop_message") %>&nbsp;</span>
    </div>
  </div>
  <div class="dz-error-msg"></div>
</div>

<%= javascript_doc_ready do %>
  ELMO.fileUploaderManager = new ELMO.Views.FileUploaderManager(<%=json(
    el: ".#{operation_type_prefix}_new"
  )%>);
  options = <%=json(
    el: "#file-uploader",
    zoneId: "#dropzone-file-uploader",
    genericThumbPath: nil,
    postPath: "#{send("#{operation_type_prefix}_path")}/upload",
    previewTemplate: render("file_upload/dropzone_preview"),
    paramName: "file",
    maxUploadSizeMib: Cnfg.max_upload_size_mib
  )%>
  options.listener = ELMO.fileUploaderManager;
  new ELMO.Views.FileUploaderView(options);
<% end %>
