<html>
  <!-- TOM: never use inline styles, ever. all these need to be moved to a css file. please read up on CSS and separation of content from styling -->
	<body style="width:800px;">
		<h3><%= t 'sms.instructions.form_name', :form_name => @form.name, :form_id => @form.id %></h3>
		<div><%= t 'sms.instructions.title' %></div>
		<div><%= t 'sms.instructions.message_start', :form_id => @form.id %></div>
		<br>
		<!-- TOM <strong> is preferred over <b> -->
		<div><b><%= t 'sms.instructions.form_id', :form_id => @form.id %></b></div>
		<br>
		<div>
			<%= t 'sms.instructions.question' %>&nbsp;
			<%= t 'sms.instructions.spacing' %>
		</div>
		<ul>
			<li>
				<%= t 'sms.instructions.response.select_one' %>
				<br>
				<%= t 'sms.instructions.response.select_one_example' %>
			</li>
			<li>
				<%= t 'sms.instructions.response.select_multiple' %>
				<br>
				<%= t 'sms.instructions.response.select_multiple_example' %>
			</li>
			<li>
				<%= t 'sms.instructions.response.number' %>
				<br>
				<%= t 'sms.instructions.response.number_example' %>
			</li>
		</ul>
		<div>
			<%= t 'sms.instructions.send' %>
		</div>
		<br>
		<div>
			<%= t 'sms.instructions.retry' %>
		</div>
		<div>
			<%= t 'sms.instructions.retry_example' %>
		</div>
		<br>
		<b><%= t 'sms.instructions.questions_title' %></b></br>
		<ol style="list-style-type:decimal">
		<% @sms_qings.each { |key, sms| %>
		  	<li style="margin-bottom:10px;"> <%= sms[:qing].question.name%>&nbsp; [<%= t 'sms.instructions.question_types.'+sms[:qing].question.type.name%>]
		  		<% unless sms[:code_text].empty? %>
					<ol style="list-style-type:none">
						<% sms[:code_text].each { |c| %>
						  <!-- TOM please be careful with indents -->
								<li><%= c %></li>
						<% } %>
					</ol>
		  		<% end %>	
		  	</li>		
		<% } %>
		 </ol>
	</body>
</html

