<div class="cascading-selects" id="cascading-selects-<%= index %>">
  <% option_node_path.nodes_without_root.each_with_index do |node, i| %>
    <div class="level">
      <% if read_only %>
        <% unless option_node_path.blank? %>
          <% if option_node_path.multilevel? %>
            <div class="option-level">
              <%= option_node_path.level_name_for_depth(i + 1) %>
            </div>
          <% end %>
          <div class="option-name">
            <%# Show 'blank' for partially empty multilevel answers. %>
            <% if node.nil? %>
              <i>[<%= t('common.blank') %>]</i>
            <% else %>
              <%= node.name %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <% next_select_tag = select_tag(input_name_template.gsub('###', i.to_s),
              options_from_collection_for_select(option_node_path.nodes_for_depth(i + 1),
                'id', 'name', node&.id),
              include_blank: true,
              class: 'form-control') %>
        <% if option_node_path.multilevel? %>
          <label>
            <%= option_node_path.level_name_for_depth(i + 1) %>
            <%= next_select_tag %>
          </label>
        <% else %>
          <%= next_select_tag %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if !read_only && option_node_path.multilevel? %>
  <%= javascript_doc_ready do %>
    new ELMO.Views.CascadingSelectsView({
      el: $('#cascading-selects-<%= index %>'),
      option_set_id: <%=json option_node_path.option_set.id %>
    });
  <% end %>
<% end %>
