<div class="option_set_form">

  <% if form_mode == :edit %>
    <%= published_warning(@option_set) if @option_set.published? %>
    <%= appears_elsewhere_warning(@option_set) if @option_set.has_questions? %>
  <% end %>

  <%= flash_and_form_errors(@option_set) %>

  <%= elmo_form_for(@option_set) do |f| %>
    <%= f.field(:name, :required => true, :read_only => cannot?(:update_core, @option_set)) %>
    <%= f.field(:geographic, :type => :check_box, :read_only => cannot?(:change_geographic, @option_set)) %>
    <%= f.field(:options, :required => true, :partial => "options") %>
    <%= f.submit unless ajax_request? %>
  <% end %>
</div>

