<%# form for drag and drop and option dialog %>
<% if !read_only && !@option_set.huge? && can?(:add_options, @option_set) %>
  <div class="add_options">
    <input type="text" class="add_options_box form-control">
    <input type="button" class="btn_secondary btn btn-default" value="<%= t('common.add') %>" />
  </div>
<% end %>

<div id="options-wrapper" class="draggable-list-wrapper">
</div>

<% if @option_set.huge? %>
  <strong class="and-n-more"><%= t('option_set.and_n_more', count: number_with_delimiter(@option_set.options_not_serialized)) %></strong>
<% end %>

<% unless read_only || @option_set.huge? %>
  <%# edit option modal %>
  <div class="modal fade edit-named-item" id="edit-option" tabindex="-1" role="dialog" aria-labelledby="editOption" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">

          <%= data_integrity_warning(:option_standard_copy_name_change_warning) if @option_set.standard_copy? %>

          <%# this warning will get hidden/shown by the js %>
          <%= data_integrity_warning(:option_in_use_name_change_warning) %>

          <% configatron.preferred_locales.each do |locale| %>
            <div class="translation">
              <label for="option_name_<%= locale %>"><%= language_name(locale) %></label>
              <input type="text" class="form-control" id="option_name_<%= locale %>"
                data-locale="<%= locale %>" maxlength="<%= Option::MAX_NAME_LENGTH %>">
            </div>
          <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t("common.cancel") %></button>
          <button type="button" class="btn btn-primary"><%= I18n.t("common.save") %></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% end %>
