<input type="text" class="add_options" placeholder="<%= t("option_set.type_to_add_new") %>">
<input type="button" value="<%= t('common.add') %>" class="add_options" />

<div id="options_wrapper">
</div>

<div class="edit_option_form" title="<%= t("option_set.edit_option") %>">
  <form>
    <% configatron.languages.each do |locale| %>
      <div class="translation">
        <label for="<%= locale %>"><%= t(:locale_name, :locale => locale) %></label>
        <input type="text" id="name_<%= locale %>" data-locale="<%= locale %>" maxlength="30">
      </div>
    <% end %>
  </form>
</div>

<%= javascript_doc_ready do %>
  new ELMO.OptionSetsFormView({
    edit_link: <%= action_link(:edit, '#').to_json.html_safe %>,
    remove_link: <%= action_link(:remove, '#').to_json.html_safe %>,
    option_settings: <%= @option_set.option_settings.to_json.html_safe %>,
    suggest_path: '<%= suggest_options_path %>'
  });
<% end %>