<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("user.#{@mode_string}") %>
      </h4>
      <button type="button" class="close group-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>

    <div class="modal-body group-form">
      <% if @user_groups.empty? %>
        <%= t("user_group.no_groups") %>
      <% else %>
        <%= select_tag("user-group", options_from_collection_for_select(@user_groups, :id, :name),
              id: "user-group") %>
      <% end %>
    </div>

    <% unless @user_groups.empty? %>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary <%= @mode_string %>">
          <%= t("user.#{@mode_string}") %>
        </button>
      </div>
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
