<% rowbg = 0 %>
<div class="tip"><%= reqd_sym %> Indicates a required field</div>
<% form_for(language) do |f| %>
  <%= show_flash_and_form_errors(language) %>
  <table class="form">
    <tr class="rowbg<%= rowbg = 1 - rowbg %>">
      <td class="name">Language Name <%= reqd_sym %></td>
      <td class="value"><%= f.select(:code, Language.add_select_options) %></td>
      <td class="details">The common English name of the language (e.g. Spanish, Arabic).</td>
    </tr>
    <tr class="rowbg<%= rowbg = 1 - rowbg %>">
      <td class="name">Is Active</td>
      <td class="value"><%= f.check_box(:active) %></td>
      <td class="details">Whether the language should be available for input and editing on the form creation page.</td>
    </tr>
  </table>
  <%= f.submit((language.new_record? ? "Create" : "Update") + " Language") %>
<% end %>