<% if admin_mode? %>

  <div class="assignment_header">
    <div class="mission"><%= translate_model(Mission) %></div>
    <div class="role"><%= t('role.role') %></div>
  </div>

  <div class="assignments"></div>

  <%= link_to(t('user.add_assignment'), '#', :class => 'add_assignment') unless form_mode == :show %>

<% else %>

  <% if form_mode == :show %>

    <%# in show mode, just show the role the current mission's assignment %>
    <%= t(@current_assignment.role, :scope => :role) %>

  <% else %>

    <%# loop over all assignments and when the assignment for the current mission comes up, render a one-line form for it %>
    <%= form.fields_for(:assignments) do |af| %>
      <% if af.object.mission == current_mission %>
        <%= af.hidden_field(:id) %>
        <%= af.hidden_field(:mission_id) %>
        <%= af.select(:role, User::ROLES.map{|r| [t(r, :scope => :role), r]}, :prompt => "[#{t('role.role')}]") %>&nbsp;&nbsp;
      <% end %>
    <% end %>

  <% end # if show mode %>

<% end # if admin mode %>