<% if admin_mode? %>

  <%# special error output %>
  <%= content_tag(:div, assignment_errors.join(' '), :class => 'form-errors') unless assignment_errors.empty? %>

  <%= react_component("UserAssignmentForm", {missions: [{id:"c2e77821-7bf8-458e-8088-32c9660ea8d7", name: "EOS Test"}, {id:"c4a214e8-6466-460f-a202-381fe6f7e81c", name: "Jill"}], roles: ["enumerator", "reviewer", "staffer", "coordinator"], assignments: [{role: "staffer", mission: "c2e77821-7bf8-458e-8088-32c9660ea8d7"}]}) %>

  <div class="assignment_header">
    <div class="mission"><%= translate_model(Mission) %></div>
    <div class="role"><%= t('role.role') %></div>
  </div>

  <div class="assignments"></div>

  <%= link_to(t('user.add_assignment'), '#', :class => 'add_assignment') unless read_only %>

<% else %>

  <% if read_only || cannot?(:change_assignments, @user) %>

    <%# in show mode, just show the role the current mission's assignment %>
    <%= @current_assignment.role ? t(@current_assignment.role, :scope => :role) : t('common.none') %>

  <% else %>
  <% # {missions: [34:"liberia", 99:"new guinea"], assignments: [34:3, 22:1], roles: ["whatever", "blargh"]} %>



    <%= elmo_fields_for("user[assignments_attributes][0]", @current_assignment) do |af| %>
      <%= af.hidden_field(:id) %>

      <%# Ok to have this here because we know the user has change_assignments privileges. %>
      <%= af.hidden_field(:mission_id) %>

      <%# special error output %>
      <%= content_tag(:div, @user.errors[:'assignments.role'].join, :class => 'form-errors') unless @user.errors[:'assignments.role'].empty? %>

      <%= af.select(:role, User::ROLES.map{|r| [t(r, :scope => :role), r]}, {:prompt => "[#{t('role.blank')}]"},
        :class => "form-control") %>
    <% end %>

  <% end %>

<% end %>
