<div id="instructions">
  <h1><%= configatron.site_name %> <%= t("user.login_instructions.title") %></h1>
  <p><%= t("user.login_instructions.welcome", :site => configatron.site_name) %></p>

  <table class="form">
    <tr>
      <td class="name"><%= User.human_attribute_name("name") %></td>
      <td class="value"><%= user.full_name %></td>
    </tr>
    <tr>
      <td class="name"><%= t("user.login_instructions.site_url") %></td>
      <td class="value">https://<%= request.host_with_port %></td>
    </tr>
    <tr>
      <td class="name"><%= User.human_attribute_name("login") %></td>
      <td class="value"><%= user.login %></td>
    </tr>
    <tr>
      <td class="name"><%= User.human_attribute_name("password") %></td>
      <td class="value"><%= password %></td>
    </tr>
    <tr>
      <td class="name"><%= User.human_attribute_name("sms_auth_code") %></td>
      <td class="value"><%= user.sms_auth_code %></td>
    </tr>
    <tr>
      <td class="name"><%= "Mission" %></td>
      <td class="value"><%= "#{@current_mission.name} (#{@current_mission.shortname})" %></td>
    </tr>
  </table>

  <% t("user.login_instructions.closing").each do |para| %>
    <p><%= para %></p>
  <% end %>
</div>
