<%= render("layouts/flash", {:flash => flash}) %>

<%= render("searches/form", :search => @subindex.search) %>

<div class="tip">
  Found <strong><%= @users.total_entries %></strong> users.
  <%= link_to_if_auth("Create new user", new_user_path, "users#create") %>
</div>

<%= render("layouts/index_table", :objects => @users, 
  :fields => %w[last_name first_name login email language role phone_number active? actions]) %>