<%= render("searches/form", search: @search) %>
<div class="all-tags"><%= render_tags(@groups, clickable: true, link_method: :group_filter_link) %></div>
<%= index_table(users) %>

<%= render("user_groups_modal") %>

<%= javascript_doc_ready do %>
  new ELMO.Views.UserListView();
<% end %>
