<%= elmo_form_for(@sms_test) do |f| %>
  <%= f.field(:from) %>
  <%= f.field(:body, :type => :textarea) %>

  <div class="submit-buttons">
    <%= f.submit(:send, class: "btn btn-primary", data: { disable_with: false }) %>
  </div>

  <div class="sms_test_result">
    <h2><%= t("common.result", count: 1) %></h2>
    <div></div>
  </div>
<% end %>

<%= javascript_doc_ready do %>
  new ELMO.Views.SmsTestConsoleView();
<% end %>
