<%= flash_and_form_errors(@option) %>
<%= nice_form_for(@option) do |f| %>

  <% if f.mode == :edit && !@option.forms.empty? %>
    <div class="tip important">
      <%= t("options.appears_elsewhere", :forms => @option.forms.map{|f| f.name}.join(", ")) %>
      <%= t("options.other_forms_published") if @option.published? %>
    </div>
  <% end %>

  <% configatron.languages.each do |lang| %>
    <%= form_field(f, :"name_#{lang}", :label => Option.human_attribute_name("name") + " (#{language_name(lang)})", :required => lang == :en) %>
  <% end %>
  <% unless @option.published? %>
    <%= form_field(f, :value, :required => true) %>
  <% end %>
  <%= form_submit_button(f, :label => :save) %>
<% end %>