<% @title_args = {:name => @option.name} %>

<%= flash_and_form_errors(@option) %>
<%= nice_form_for(@option) do |f| %>

  <% if f.mode == :edit && !@option.forms.empty? %>
    <div class="tip important">
      <%= t("option.appears_elsewhere", :forms => @option.forms.map{|f| f.name}.join(", ")) %>
      <%= t("option.other_forms_published") if @option.published? %>
    </div>
  <% end %>

  <% configatron.languages.each_with_index do |lang, rank| %>
    <%= form_field(f, :"name_#{lang}",
      :label => Option.human_attribute_name("name") + " (#{language_name(lang)})",
      :details => rank == 0 ? t("activerecord.tips.option.name") : nil) %>
  <% end %>
  
  <%= form_submit_button(f, :label => :save) %>
<% end %>