<%# user block %>
<% if can?(:index, User) %>
  <div class="block">
    <%= link_to(t("common." + (can?(:create, User) ? "manage" : "contact")), users_path, :class => "title") %>
    <%= link_to(User.model_name.human.pluralize, users_path, :class => "subtitle") %>
    <%= link_to(image_tag("blocks/block_manage.png"), users_path) %>
    <ul>
      <li><%= link_to("<em>#{@user_count}</em> #{t('common.total')} #{User.model_name.human.pluralize}".html_safe, users_path) %></li>
      <li><%= create_link(User) if can?(:create, User) %></li>
    </ul>
  </div>
<% end %>

<%# form block %>
<% if can?(:index, Form) %>
  <div class="block">
    <%= link_to(t("common." + (can?(:manage, Form) ? "design" : "view")), forms_path, :class => "title") %>
    <%= link_to(Form.model_name.human.pluralize, forms_path, :class => "subtitle") %>
    <%= link_to(image_tag("blocks/block_design.png"), forms_path) %>
    <ul>
      <li><%= link_to("<em>#{@pub_form_count}</em> #{t('forms.published')} #{Form.model_name.human.pluralize}".html_safe, forms_path) %></li>
      
      <%# these links are only for form mgmt %>
      <% if can?(:manage, Form) %>
        <li><%= link_to("<em>#{@unpub_form_count}</em> #{t('forms.unpublished')} #{Form.model_name.human.pluralize}".html_safe, forms_path) %></li>
        <li><%= create_link(Form) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# response submission block %>
<% if can?(:create, Response) %>
  <div class="block">
    <%= link_to(t("common.submit"), responses_path, :class => "title") %>
    <%= link_to(t("common.data"), responses_path, :class => "subtitle") %>
    <%= link_to(image_tag("blocks/block_submit.png"), responses_path) %>
    <ul>
      <% if @pub_form_count > 0 %>
        <li><small><%= t("welcome.select_a_form") %></small><%= new_response_mini_form %></li>
      <% end %>
      <li><%= link_to(content_tag(:em, @self_response_count) + " " + t("welcome.submissions_by_you"), 
        responses_path(:search => "submitter:\"#{current_user.name}\"")) %></li>
    </ul>
  </div>
<% end %>

<%# response review block %>
<% if can?(:review, Response) %>
  <div class="block">
    <%= link_to(t("common.review"), responses_path, :class => "title") %>
    <%= link_to(Response.model_name.human.pluralize, responses_path, :class => "subtitle") %>
    <%= link_to(image_tag("blocks/block_review.png"), responses_path) %>
    <ul>
      <li><%= link_to(content_tag(:em, @total_response_count) + " #{t('common.total').capitalize} #{Response.model_name.human.pluralize}", responses_path) %></li>
      <li><%= link_to(content_tag(:em, @unreviewed_response_count) + " " + t("welcome.awaiting_review"), responses_path(:search => "reviewed:no")) %></li>
      
      <%# only show the total response count if it's nonzero %>
      <% if @total_response_count > 0 %>
        <li><%= link_to(@recent_responses_count.gsub(/^(\d+)/){"<em>#{$1}</em>"}.html_safe, responses_path) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# report block %>
<% if can?(:index, Report::Report) %>
  <div class="block">
    <%= link_to(t("common.report"), report_reports_path, :class => "title") %>
    <%= link_to(t("common.result").pluralize, report_reports_path, :class => "subtitle") %>
    <%= link_to(image_tag("blocks/block_report.png"), report_reports_path) %>
    <ul>
      <% unless @reports.empty? %>
        <li><small><%= t("welcome.select_a_report") %></small><%= view_report_report_mini_form %></li>
      <% end %>
      <% if can?(:create, Report::Report) %>
        <li><%= create_link(Report::Report) %></li>
      <% end %>
    </ul>
  </div>
<% end %>