<% if @reports.empty? %>
  <h2 class="interior"><%= translate_model(Report::Report) %></h2>

  <div><%= t('dashboard.no_reports') %></div>

<% else %>
  <div>
    <form class="report_chooser">
      <%= select_tag('report_id', options_from_collection_for_select(@reports, 'id', 'name'), {:prompt => I18n.t('report/report.choose_report'), :class => 'form_control'}) %>
    </form>

    <div class="report_title">
      <%= render('report_pane_title') %>
    </div>
  </div>

  <%# We only cache this portion since it's the most intensive to compute and we want to keep the
      report list above fresh, and don't want to have to make separate cache key for that. %>
  <% cache(@cache_key + '/report_pane') do %>
    <div class="report_main">
      <%= render('reports/main') %>
    </div>
  <% end %>
<% end %>