<% content_for(:per_page_js) do
 # load the mapping API
 javascript_google_maps +

 # load report stuff
 report_js_includes
end %>

<% content_for(:audio) do %>
  <%# this path is hard coded because the audio_tag/path helpers are not working and i can't figure out why %>
  <%# they produce /audios/ship-bell.mp3 instead of the correct /assets/ship-bell.mp3 %>
  <%# so i moved the whole audios directory to /public for now %>
  <audio id="new_arrival_sound" src="/audios/ship-bell.mp3"></audio>
<% end %>

<%# cache the javascript initialization since it will only change if response added %>
<% cache(@cache_key + '/js_init') do %>

  <%# placing this up here so it's the first call to document.ready, so that the pane sizing happens before report drawing %>
  <%= javascript_doc_ready do %>
    // delete any previous instance
    delete ELMO.app.dashboard;

    ELMO.app.dashboard = new ELMO.Views.Dashboard(<%=json(
      # needed for storing the map bounds between refreshes
      mission_id: current_mission.id,
      map: {
        locations: @location_answers,
        info_window_url: dashboard_info_window_url,
        small_marker_url: image_url('markers/small.png')
      },
      report: {
        id: @report_id
      }
    )%>);
  <% end %>

<% end %>

<div class="row">
  <div class="col-md left_col">
    <h2>
      <%= current_user.role(current_mission) == 'enumerator' ? t('dashboard.my_responses') : t('dashboard.recent_responses') %>
    </h2>
    <%= render partial: 'recent_responses' %>

    <div>
      <a href="#" class="expand-map toggle-map">
        <i class="fa fa-expand"></i>
        <%= t("dashboard.expand_map") %>
      </a>
      <h2 class="interior">
        <%= t('dashboard.response_locations') %>
      </h2>
      <%= render partial: 'response_locations' %>
    </div>
  </div>

  <div class="col-md right_col">
    <%= render partial: 'report_stats' %>
    <%= render partial: 'report_pane' %>
  </div>
</div>

<%# Link for shrinking map. Shown only when expanded map is shown. %>
<div class="expanded-map-links">
  <a href="#" class="toggle-map">
    <i class="fa fa-compress"></i>
    <%= t("dashboard.shrink_map") %>
  </a>
</div>

<%= javascript_doc_ready do %>
  <%# Hides/displays appropriate full screen elements if necessary %>
  ELMO.app.dashboard.set_full_screen();
  ELMO.app.dashboard.set_expanded_map();

  <%# Runs report %>
  ELMO.app.dashboard.run_report();
<% end %>

<div class="dashboard-footer">
  <%# These links are for testing purposes %>
  <% if Rails.env.test? %>
    <a href="#" class="reload-ajax">Reload via AJAX</a>
    <a href="#" class="reload-page">Reload Page</a>
  <% end %>
  <a href="#" class="full-screen"><i class="fa fa-expand"></i> <span><%= I18n.t('dashboard.enter_full_screen') %></span></a>
</div>
