<% if current_mission %>

  <% content_for(:per_page_js) do
   # load the mapping API # TODO revert this back to v3 when bugfix is rolled out.
   javascript_include_tag("https://maps.googleapis.com/maps/api/js?v=3.19&sensor=false") +

   # load report stuff
   report_js_includes
  end %>

  <% content_for(:audio) do %>
    <%# this path is hard coded because the audio_tag/path helpers are not working and i can't figure out why %>
    <%# they produce /audios/ship-bell.mp3 instead of the correct /assets/ship-bell.mp3 %>
    <%# so i moved the whole audios directory to /public for now %>
    <audio id="new_arrival_sound" src="/audios/ship-bell.mp3"></audio>
  <% end %>

  <%# cache the javascript initialization since it will only change if response added %>
  <% cache(@cache_key + '/js_init') do %>

    <%# placing this up here so it's the first call to document.ready, so that the pane sizing happens before report drawing %>
    <%= javascript_doc_ready do %>
      // delete any previous instance
      delete ELMO.app.dashboard;

      ELMO.app.dashboard = new ELMO.Views.Dashboard({
        <%# needed for storing the map bounds between refreshes %>
        mission_id: <%= current_mission.id.to_json.html_safe %>,
        map: {
          locations: <%=j @location_answers.to_json.html_safe %>,
          info_window_url: <%=j dashboard_info_window_url.to_json.html_safe %>
        },
        report: {
          id: <%=j @report.try(:id).to_json.html_safe %>
        },
        url: ELMO.app.url_builder.build('/')
      });
    <% end %>

  <% end %>

  <%# outside the cache block we need to tell the list view to highlight new responses %>
  <%= javascript_doc_ready do %>
    ELMO.app.dashboard.list_view.highlight_responses_after(<%=j params[:latest_response_id].to_json.html_safe %>)
  <% end %>

  <div class="col left_col">
    <h2>
      <%= current_user.role(current_mission) == 'observer' ? t('dashboard.my_responses') : t('dashboard.recent_responses') %>
    </h2>

    <%# cache the recent responses and use the explicit submit date instead of the age %>
    <% cache(@cache_key + '/recent_responses') do %>
      <div class="recent_responses">
        <% if @responses.empty? %>
          <%= t('will_paginate.response.page_entries_info.single_page_html.zero') %>
        <% else %>
          <%= index_table(Response, @responses, :table_only => true) %>
        <% end %>
      </div>
    <% end %>

    <%# no need to cache this bit either because there's nothing here (done by JS) %>
    <h2 class="interior"><%= t('dashboard.response_locations') %></h2>
    <div class="response_locations"></div>

  </div>

  <div class="col right_col">
    <div class="report_stats">
      <div class="stat_block">
        <h2><%= t('dashboard.summary') %></h2>
        <ul>
          <%# expire this one in half an hour b/c it needs to be updated even if no new responses %>
          <% cache(@cache_key + '/recent_response_count', :expires_in => 30.minutes) do %>
            <li><%= link_to(translate_recent_responses(Response.recent_count(Response.accessible_by(current_ability))), responses_path) %></li>
          <% end %>

          <%# cache the rest of these though %>
          <% cache(@cache_key + '/stat_block_1') do %>
            <li><%= link_to(tmd("welcome.total_responses", :count => number_with_delimiter(@total_response_count)), responses_path) %></li>
            <li><%= link_to(tmd("welcome.awaiting_review", :count => number_with_delimiter(@unreviewed_response_count)), responses_path(:search => "reviewed:no")) %></li>
          <% end %>
        </ul>
      </div>
      <%# cache the rest of the stat blocks %>
      <% cache(@cache_key + '/stat_blocks') do %>
        <div class="stat_block">
          <% unless @responses.empty? %>
            <h2><%= t('dashboard.top_forms') %></h2>
            <ul>
              <% @responses_by_form.each do |row| %>
                <li>
                  <%= link_to(content_tag(:strong, number_with_delimiter(row['count'])) + ' ' + row['form_name'],
                    responses_path(:search => "form:\"#{row['form_name']}\"")) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <% if current_user.role(current_mission) != 'observer' %>
          <div class="stat_block">
            <% unless @responses.empty? %>
              <h2><%= t('dashboard.low_activity') %></h2>
              <ul>
                <% @responses_per_user.each do |row| %>
                  <li>
                    <%= link_to(content_tag(:strong, number_with_delimiter(row.response_count)) + ' ' + row.name,
                      responses_path(:search => "submitter:\"#{row.name}\"")) %>
                  </li>
                  <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>

    <div class="report_pane">
      <%= render('welcome/report_pane') %>
    </div>
  </div>

  <% #Hides/displays appropriate full screen elements if necessary %>
  <%= javascript_doc_ready do %>
    ELMO.app.dashboard.display_full_screen();
  <% end %>

  <div class="dashboard-footer">
    <%# These links are for testing purposes %>
    <% if Rails.env.test? %>
      <a href="#" class="reload-ajax">Reload via AJAX</a>
      <a href="#" class="reload-page">Reload Page</a>
    <% end %>
    <a href="#" class="full-screen"><i class="fa fa-expand"></i> <span><%= I18n.t('dashboard.enter_full_screen') %></span></a>
  </div>

<% elsif admin_mode? %>

  <h1 class="title">Admin Mode</h1>
  Please select from the nav bar.

<%# if no mission selected %>
<% else %>
  <h1 class="title"><%= t('welcome.no_mission_selected.title') %></h1>
  <% if current_user.admin? %>
    <% if Mission.any? %>
      <%= t('welcome.no_mission_selected.choose_or_create') %>
    <% else %>
      <%= t('welcome.no_mission_selected.need_to_create') %>
    <% end %>
    <%= link_to(t('welcome.no_mission_selected.create_link'), new_mission_path(:mode => 'admin')) %>.
  <% else %>
    <% if Mission.any? %>
      <%= t('welcome.no_mission_selected.choose') %>
    <% else %>
      <%= t('welcome.no_mission_selected.no_missions') %>
    <% end %>
  <% end %>
<% end %>
