<% mode = read_only ? "read_only" : "editable" %>
<div class="answer form-field answer_field qtype_<%= answer.qtype.name %>
            <%= context.read_only? ? "read-only" : "editable" %> <%= answer.lengthy? ? "lengthy" : "" %>">

  <% unless context.read_only? %>
    <%= hidden_field_tag context.input_name(:id), answer.id %>
    <%= hidden_field_tag context.input_name(:type), "Answer" %>
    <%= hidden_field_tag context.input_name(:questioning_id), answer.questioning_id %>
    <%= hidden_field_tag context.input_name(:_destroy), "false" %>
  <% end %>

  <%= render("hierarchical_responses/answers/answer_info", node: answer, context: context) %>

  <div class="control">
    <%= render("hierarchical_responses/answers/single_#{mode}", answer: answer, context: context) %>
  </div>
</div>
