<% mode = read_only ? "read_only" : "editable" %>
<div class="form-field answer_field qtype_<%= set.questioning.qtype.name %>
  <%= context.read_only? ? "read-only" : "editable" %> <%= set.children.any?(&:lengthy?) ? "lengthy" : "" %>">

  <% unless context.read_only? %>
    <%= hidden_field_tag context.add(:id).input_name, set.id %>
    <%= hidden_field_tag context.add(:type).input_name, "AnswerSet" %>
    <%= hidden_field_tag context.add(:questioning_id).input_name, set.questioning_id %>
    <%= hidden_field_tag context.add(:_destroy).input_name, "false" %>
  <% end %>

  <%= render("hierarchical_responses/answers/answer_info", node: set) %>

  <div class="children">
    <div class="control">
      <%= render("hierarchical_responses/answers/cascading_#{mode}",
            answer_set: set,
            context: context) %>
    </div>
  </div>
</div>
