<% set = Results::AnswerSetDecorator.new(set, context) %>
<div class="<%= set.classes %>">

  <% unless context.read_only? %>
    <%= hidden_field_tag context.input_name(:id), set.id %>
    <%= hidden_field_tag context.input_name(:type), "AnswerSet" %>
    <%= hidden_field_tag context.input_name(:questioning_id), set.questioning_id %>
    <%= hidden_field_tag context.input_name(:_relevant), "true", class: "relevant" %>
    <%= hidden_field_tag context.input_name(:_destroy), "false" %>
  <% end %>

  <%= render("hierarchical_responses/answers/answer_info", node: set) %>

  <div class="children">
    <div class="control">
      <% partial = context.read_only? ? "cascading_read_only" : "cascading_editable" %>
      <%= render("hierarchical_responses/answers/#{partial}", answer_set: set, context: context) %>
    </div>
  </div>
</div>
