<% mode = read_only ? "read_only" : "editable" %>
<div class="answer form-field answer_field qtype_<%= answer.qtype.name %>
            <%= context.read_only? ? "read-only" : "editable" %> <%= answer.lengthy? ? "lengthy" : "" %>">

  <% unless context.read_only? %>
    <%= hidden_field_tag context.add(:id).input_name, answer.id %>
    <%= hidden_field_tag context.add(:type).input_name, "Answer" %>
    <%= hidden_field_tag context.add(:questioning_id).input_name, answer.questioning_id %>
    <%= hidden_field_tag context.add(:_destroy).input_name, "false" %>
  <% end %>

  <%= render("hierarchical_responses/answers/answer_info", node: answer) %>

  <div class="control">
    <%= render("hierarchical_responses/answers/single_#{mode}", answer: answer, context: context) %>
  </div>
</div>
