<% mode = read_only ? "read_only" : "editable" %>
<div class="form-field answer_field qtype_<%= set.questioning.qtype.name %>
            <%= context.read_only? ? "read-only" : "editable" %> <%= set.children.any?(&:lengthy?) ? "lengthy" : "" %>">

  <% unless context.read_only? %>
    <%= hidden_field_tag context.input_name(:id), set.id %>
    <%= hidden_field_tag context.input_name(:type), "AnswerSet" %>
    <%= hidden_field_tag context.input_name(:questioning_id), set.questioning_id %>
    <%= hidden_field_tag context.input_name(:_destroy), "false" %>
  <% end %>

  <%= render("hierarchical_responses/answers/answer_info", node: set) %>

  <div class="children">
    <div class="control">
      <%= render("hierarchical_responses/answers/cascading_#{mode}",
            answer_set: set,
            context: context) %>
    </div>
  </div>
</div>
