<% mode = read_only ? "read_only" : "editable" %>
<div class="answer form-field answer_field qtype_<%= answer.qtype.name %>
  <%= read_only ? "read-only" : "editable" %> <%= answer.lengthy? ? "lengthy" : "" %>">

  <% if form_mode %>
    <%# This appears first here but is usually moved to the end using flex box %>
    <%# We do it this way so we can move the control to its own line when printing a long text answer. %>
    <% question_hint = answer.question_hint.try(:chomp, ".").try(:<<, ".") %>
    <% drop_hint = I18n.t("response.drop_hint.#{answer.qtype.name}", default: "").presence %>
    <%= hint_popover([question_hint, drop_hint].compact.join(" ")) %>
  <% end %>

  <label class="main">
    <%= reqd_sym if answer.required? %>
    <%= answer.questioning.full_dotted_rank %>.
    <%= "[#{answer.question.code}]" unless @response.new_record? %>
    <%= answer.question.name || "[#{t('answer.no_name')}]" %>
  </label>

  <div class="control">
    <%= render("hierarchical_responses/answers/single_#{mode}",
          answer: answer,
          index: "#{answer.questioning_id}") %>
  </div>
</div>
