<% answer = Results::AnswerDecorator.new(answer, context) %>
<div class="<%= answer.classes %>">

  <% unless context.read_only? %>
    <%= hidden_field_tag context.input_name(:id), answer.id %>
    <%= hidden_field_tag context.input_name(:type), "Answer" %>
    <%= hidden_field_tag context.input_name(:questioning_id), answer.questioning_id %>
    <%= hidden_field_tag context.input_name(:_relevant), "true", class: "relevant" %>
    <%= hidden_field_tag context.input_name(:_destroy), "false" %>
  <% end %>

  <%= render("hierarchical_responses/answers/answer_info", node: answer, context: context) %>
  <%= content_tag(:div, answer.hint, class: "hint") %>

  <div class="control">
    <% partial = context.read_only? ? "single_read_only" : "single_editable" %>
    <%= render("hierarchical_responses/answers/#{partial}", answer: answer, context: context) %>
  </div>
</div>
