<div class="answer-group">
  <h2><%= group.qing_group.group_name %></h2>

  <% unless context.read_only? %>
    <%= hidden_field_tag context.input_name(:id), group.id %>
    <%= hidden_field_tag context.input_name(:type), "AnswerGroup" %>
    <%= hidden_field_tag context.input_name(:_relevant), "true", class: "relevant" %>
    <%= hidden_field_tag context.input_name(:_destroy), "false" %>
  <% end %>

  <div class="children">
    <%= render("hierarchical_responses/answers/nodes", nodes: group.children, context: context) %>
  </div>
</div>
