<div class="answer-group">
  <h2>
    <%= group.qing_group.full_dotted_rank %>.
    <%= group.qing_group.group_name %>
    <%= hint_popover(group.qing_group.group_hint) %>
  </h2>

  <% unless read_only %>
    <%= hidden_field_tag context.add(:id).input_name, group.id %>
    <%= hidden_field_tag context.add(:type).input_name, "AnswerGroup" %>
  <% end %>

  <div class="children">
    <%= render("hierarchical_responses/answers/nodes", nodes: group.children, context: context.add(:children)) %>
  </div>
</div>
