<div class="answer-group-set" id="<%= context.id %>">
  <div class="children">
    <%= render("hierarchical_responses/answers/nodes", nodes: group_set.c, context: context.add(:children), removable: true) %>
  </div>

  <% if !read_only %>
    <a class="add-repeat">Add</a>

    <%= javascript_doc_ready do %>
      new ELMO.Views.RepeatGroupFormView({
        el: $('#<%= context.id %>'),
        next_index: <%= group_set.c.count %>,
        tmpl: <%= json render("hierarchical_responses/answers/nodes",
          nodes: context.find(@blank_response).children,
          read_only: read_only,
          placeholder: '__PLACEHOLDER__',
          removable: true,
          context: context.add(:children)) %>
      })
    <% end %>
  <% end %>
</div>
