<% id = rand(9e9) %>
<div class="answer-group-set" id="<%= id %>">
  <div class="children">
    <%= render("hierarchical_responses/answers/nodes",
               nodes: group_set.children,
               context: context,
               removable: true) %>
  </div>

  <% unless context.read_only? %>
    <a href="#" class="add-repeat">Add</a>

    <%
    # Below we render a template based on the blank response tree
    # This template is used to insert new repeat groups and, upon
    # insertion, the following JavaScript will be executed recursively
    # for any nested group sets.
    %>
    <%= javascript_doc_ready do %>
      new ELMO.Views.ResponseFormRepeatView({
        el: $('#<%= id %>'),
        next_index: <%= group_set.children.count %>,
        tmpl: <%= json(render("hierarchical_responses/answers/nodes",
          nodes: context.find(@blank_response).children,
          index_placeholder: true,
          removable: true,
          context: context)) %>
      })
    <% end %>
  <% end %>
</div>
