<div class="answer-group">
  <h2>
    <%= group.questioning.full_dotted_rank %>.
    <%= group.questioning.group_name %>
    <%= hint_popover(group.questioning.group_hint) %>
  </h2>

  <% unless read_only %>
    <%= hidden_field_tag input_name(path + ["id"]), group.id %>
    <%= hidden_field_tag input_name(path + ["type"]), "AnswerGroup" %>
  <% end %>

  <div class="children">
    <%= render("hierarchical_responses/answers/nodes", nodes: group.children, path: path + ["children"]) %>
  </div>
</div>
