<div id="media-uploader-<%= context.id %>" class="media-uploader">
  <% if answer.has_media_object? %>
    <div class="existing">
      <%= media_link(answer.media_object, show_delete: true) %>
    </div>
  <% end %>

  <div id="dropzone-<%= context.id %>" class="dropzone <%= "collapse" if answer.has_media_object? %>"
    <%= hidden_field_tag(context.input_name(:media_object_id), answer.media_object_id) %>
    <div class="dz-message">
      <span class="message"><%= t("response.drop_message") %>&nbsp;</span>
    </div>
    <div class="error-msg"></div>
  </div>
</div>

<%= javascript_doc_ready do %>
  <% media_type = answer.qtype.media_type.pluralize %>
  new ELMO.Views.MediaUploaderView(<%=json(
    el: "#media-uploader-#{context.id}",
    zone_id: "#dropzone-#{context.id}",
    generic_thumb_path: image_path("media/#{answer.qtype.media_type}.png"),
    post_path: media_create_path(type: media_type),
    delete_path: answer.media_object ? media_delete_path(answer.media_object, type: media_type) : nil
  )%>);
<% end %>
