<%# show the error messages without keys %>
<%= content_tag(:div, answer.errors.to_hash.values.join(', '), class: 'form-errors') unless answer.errors.empty? %>

<div class="widget">
  <% case type = answer.qtype.name
     when "select_one" %>

    <%= select_tag(context.input_name(:option_node_id),
          options_from_collection_for_select(answer.first_level_option_nodes,
          'id', 'option_name', answer.option_node_id),
          include_blank: true,
          class: 'form-control') %>

  <% when "select_multiple" %>

    <%# render a checkbox for each possible choice %>
    <%= render(partial: "hierarchical_responses/answers/choice",
      context: context,
      collection: answer.all_choices,
      class: "form-control") %>

  <% when "datetime", "date", "time" %>
    <% date = answer.datetime_value ? answer.datetime_value : answer.date_value %>

    <% if date && (date.year < Time.current.year - 125 || date.year > Time.current.year + 125) %>
      <%= text_field_tag(context.input_name("#{type}_value"), date, class: "qtype_#{type} form-control") %>
    <% else %>
      <%= send("#{type}_select", field_name_prefix, :"#{type}_value",
          {include_blank: true, include_seconds: true, object: answer, use_short_month: true},
          class: "form-control", start_year: Time.current.year - 125, end_year: Time.current.year + 125) %>
    <% end %>

  <% when "image", "annotated_image", "signature", "sketch", "audio", "video" %>

    <%= render("hierarchical_responses/answers/media_editable", answer: answer, context: context) %>

  <% when "long_text" %>

    <%= text_area_tag(context.input_name(:value), answer.value, class: "qtype_long_text form-control") %>

    <%# Initialize ckeditor on doc ready. %>
    <%= javascript_doc_ready do %>
      CKEDITOR.replace('response_answers_attributes_value');
    <% end %>

  <% when "integer", "decimal", "counter" %>

    <%= number_field_tag(context.input_name(:value), answer.value,
          class: "qtype_#{type} form-control",
          step: type == "decimal" ? "any" : nil) %>

  <% else %>

    <%= text_field_tag(context.input_name(:value), answer.value, class: "qtype_#{type} form-control") %>

    <% if type == 'location' %>
      &nbsp;<%= action_link("edit", "#", class: "edit_location_link") if form_mode != :show %>
    <% end %>

  <% end %>
</div>
