<%= elmo_form_for(@setting) do |f| %>

  <%# Need to specify form mode explicitly since it can't be surmised from action. %>
  <% @form_mode = @setting.read_only? ? :show : :edit %>

  <h2><%= t("setting.headings.general") %></h2>

  <%= f.field(:mission_id, :type => :hidden) %>
  <%= f.field(:timezone, :type => :timezone, :required => true) %>
  <%= f.field(:preferred_locales_str, :required => true) %>

  <% unless admin_mode? %>
    <%= f.field(:override_code, :partial => 'override_code') %>
  <% end %>

  <%= f.field(:allow_unauthenticated_submissions, :type => :check_box) if configatron.allow_unauthenticated_submissions? %>

  <%# none of the rest of this is relevant in admin mode %>
  <% unless admin_mode? %>

    <h2><%= t("setting.headings.sms") %></h2>

    <%= f.field(:incoming_sms_number) %>

    <%= f.field(:outgoing_sms_adapter, :type => :select, :options => @adapter_options, :prompt => t("common.none")) %>

    <div class="adapter_settings" data-adapter="IntelliSms">

      <%= f.field(:intellisms_username, :append => link_to(t("setting.change_sms_password"), "#")) %>

      <div class="password_fields">
        <%= f.field(:intellisms_password1, :type => :password) %>
        <%= f.field(:intellisms_password2, :type => :password) %>
      </div>
    </div>

    <h2><%= t('activerecord.attributes.setting.external_sql') %></h2>

    <%= f.field(:external_sql, :partial => "external_sql") %>

  <% end %>
  <div class="submit-buttons">
    <%= f.submit(:class => "btn btn-primary") %>
  </div>

<% end %>

<%= javascript_doc_ready do %>
  // instantiate the frontend view object to handle the interactive stuff
  new ELMO.Settings();
<% end %>
