<%= elmo_form_for(@setting, read_only: @setting.read_only?) do |f| %>
  <h2><%= t("setting.headings.general") %></h2>

  <%= f.field(:timezone, type: :timezone, required: true) %>
  <%= f.field(:preferred_locales_str, required: true) %>
  <%= f.field(:theme, type: :select, options: Setting.theme_options, required: true, prompt: false) %>
  <% if Cnfg.allow_missionless_sms? %>
    <%= f.regenerable_field(:universal_sms_token,
          no_button: true, initial_value: Cnfg.universal_sms_token,
          append: link_to(t("setting.using_incoming_sms_token"), "#", class: "using-universal-sms-token")) %>
  <% end %>

  <%= f.regenerable_field(:override_code, confirm: t("setting.override_code_warning")) unless admin_mode? %>

  <h2 class="mt-4"><%= t("setting.headings.sms") %></h2>

  <% unless admin_mode? %>
    <%= f.field(:incoming_sms_numbers_str, type: :textarea) %>
    <%= f.regenerable_field(:incoming_sms_token, confirm: t("setting.sms_token_warning"),
      append: link_to(t("setting.using_incoming_sms_token"), "#", class: "using-incoming-sms-token")) %>
  <% end %>

  <%= f.field(:default_outgoing_sms_adapter, type: :select,
    options: @adapter_options, prompt: t("common.none")) %>

  <h2 class="mt-4"><%= t("setting.headings.frontlinecloud") %></h2>
  <div class="adapter-settings" data-adapter="FrontlineCloud">
    <%= link_to(t("setting.change_api_key"), "#", class: "show-credential-fields") %>
    <div class="credential-fields">
      <%= f.field(:frontlinecloud_api_key1, type: :password) %>
      <%= f.field(:clear_frontlinecloud, type: :check_box, label: t("common.clear")) %>
    </div>
  </div>

  <h2 class="mt-4"><%= t("setting.headings.twilio") %></h2>
  <div class="adapter-settings" data-adapter="Twilio">
    <%= f.field(:twilio_phone_number) %>
    <%= f.field(:twilio_account_sid,
      append: link_to(t("setting.change_twilio_auth_token"), "#", class: "show-credential-fields")) %>
    <div class="credential-fields">
      <%= f.field(:twilio_auth_token1, type: :password) %>
      <%= f.field(:clear_twilio, type: :check_box, label: t("common.clear")) %>
    </div>
  </div>

  <% unless admin_mode? %>
    <h2 class="mt-4"><%= t("setting.headings.generic") %></h2>
    <div class="adapter-settings" data-adapter="Generic">
      <%= f.field(:generic_sms_config_str, type: :textarea) %>
    </div>
  <% end %>

  <% unless admin_mode? %>
    <h2 class="mt-4"><%= t("activerecord.attributes.setting.external_sql") %></h2>
    <%= f.field(:external_sql, type: :pre, value: @external_sql, copyable: true) %>
  <% end %>

  <div class="submit-buttons">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>

<%# using incoming_sms_token modal %>
<div class="modal fade" id="using-incoming-sms-token-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t("activerecord.hints.setting.using_incoming_sms_token_title") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body pane_body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= I18n.t("common.close") %>
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_doc_ready do %>
  // instantiate the frontend view object to handle the interactive stuff
  new ELMO.Views.SettingsView(<%=json(
    need_credentials: {
      Twilio: @setting.twilio_auth_token.blank?
    }
  )%>);
<% end %>
