<%= elmo_form_for(@question_import, url: question_imports_path, html: {multipart: true}) do |f| %>
  <%= t_markdown("question_import.instructions_html", csv_url: template_question_imports_path(format: "csv"),
                                                      strip_outer_p_tags: false) %>
  <%= f.field(:file, required: true, partial: "file_upload/operation_file_uploader",
                     locals: {operation_type_prefix: "question_imports"}) %>
  <div class="submit-buttons">
    <%= render("file_upload/upload_in_progress_button", single_file: true) %>
    <%= f.submit t("common.import"), class: "btn btn-primary" %>
  </div>
<% end %>
