<tr class="rowbg<%= (answer_counter + 1) % 2 %>">
  <td class="name">
    <%= answer.question_name || "[No Name]" %>
    <%= reqd_sym(answer.required?) %>
  </td>
  <td class="value">
    <%= fields_for('response[all_answers][]', answer) do |f| %>
      <% f.mode = controller.action_name.to_sym %>
      <%= render("layouts/object_errors", :object => answer, :compact => true) %>
      <%= f.hidden_field(:response_id, :index => answer_counter) %>
      <%= f.hidden_field(:questioning_id, :index => answer_counter) %>
      <% case type = answer.question_type_name %>
      <% when "location", "address", "text", "integer", "decimal" %>
        <%= f.text_field(:value, :class => "qtype_#{type}", :index => answer_counter) %>
      <% when "long_text" %>
        <%= f.text_area(:value, :class => "qtype_#{type}", :index => answer_counter) %>
      <% when "select_one" %>
        <%= f.select(:option_id, answer.select_options, {:include_blank => true}, :index => answer_counter) %>
      <% when "select_multiple" %>
        <%= render(:partial => "choice", :locals => {:answer_counter => answer_counter}, :collection => answer.all_choices) %>
      <% when "datetime", "date", "time" %>
        <%= f.send("#{type}_select", :"#{type}_value", :include_blank => true, :index => answer_counter) %>
      <% end %>
    <% end %>
  </td>
  <td class="details"><%= answer.question_hint %></div>
</tr>