<!-- Note: this template is only used for Enketo, not regular responses. -->

<% @title_args = {id: @response.decorate.shortcode} %>

<!-- TODO: This link should be conditional (like edit mode, read-only mode, etc.) -->
<%= link_to(t("response.use_nemo"), params.permit!.merge("enketo": "")) %>

<div id="enketo" class="enketo-form"></div>

<!-- TODO: This button should be conditional (like edit mode, read-only mode, etc.) -->
<button id="enketo-submit" type="button" class="btn btn-primary">
  <%= I18n.t("common.submit") %>
</button>

<script>
  let transformed = <%= @transformed.presence || "null" %>;
  window.ENKETO_MODEL_STR = transformed.model;
  $("#enketo").html(transformed.form);

  let instance = <%= @instance.presence || "null" %>;
  window.ENKETO_INSTANCE_STR = instance;
</script>

<%= javascript_pack_tag 'enketo' %>
