<%# load the mapping API # TODO revert this back to v3 when bugfix is rolled out. %>
<% content_for(:per_page_js){ javascript_include_tag("https://maps.googleapis.com/maps/api/js?v=3.19&sensor=false") } %>

<%# title includes ID if defined %>
<% @title_args = {:id => @response.id} %>

<%= render("layouts/location_picker") %>

<% @response.answers.collect{|a| a.errors.full_messages.join(", ")}.join(" ") %>

<%= elmo_form_for(@response) do |f| %>

  <%= top_action_links(@response, :except => :new) %>

  <%= f.base_errors %>

  <%= f.field(:form_id, :type => :hidden) %>

  <%# form name %>
  <%= f.field(:form_id, :content => link_to(@response.form.name, @response.form)) %>

  <%# if the user can't manage the response, then don't show the submitter box as a dropdown %>
  <%= f.field(:user_id, :type => :select, :required => true, :options => sel_opts_from_objs(@possible_submitters),
    :read_only => cannot?(:manage, @response),

    # some users are not linkable currently if they're not assigned to the mission
    # if we give nil read_only_content then it will revert to the default read only content
    :read_only_content => can?(:read, @response.user) ? link_to(@response.user.try(:name), @response.user) : nil) %>

  <%# don't show source or reviewed if new obj %>
  <% unless form_mode == :new %>

    <%= f.field(:source) if read_only %>

    <%# only show the reviewed checkbox as editable if the user can review the response %>
    <%= f.field(:reviewed, :type => :check_box, :read_only => cannot?(:review, @response)) %>

  <% end %>

  <%# render all the answers %>
  <%= render(partial: 'answer_set', collection: @response.answer_sets) %>

  <%# incomplete checkbox %>
  <%= f.field(:incomplete, :type => :check_box) if can?(:submit_incomplete, @response) %>

  <div class ="submit-buttons">
    <%= f.submit(:class => "btn btn-primary") %>
    <% if form_mode == :edit && can?(:review, @response) %>
      <%= f.submit(t('response.save_and_mark_reviewed'), :class => "btn btn-primary", :name => 'commit_and_mark_reviewed') %>
    <% end %>
  </div>

<% end %>

<%= javascript_doc_ready do %>
  $('textarea').each(function(){ CKEDITOR.replace(this.id); });
  ELMO.Response.init();
<% end %>
