<%= render("layouts/flash", {:flash => flash}) %>

<%= render("searches/form", :search => @subindex.search) %>

<div class="tip">
  Found <strong><%= @responses.total_entries %></strong> responses.
  <%= join_links(link_to_if_auth("Create new response", new_response_path, "responses#create")) %>
</div>

<%= render("layouts/index_table", :objects => @responses, 
  :fields => %w[form_name submitter date_submitted age reviewed? actions]) %>