<%= render("layouts/flash", {:flash => flash}) %>

<%= render("searches/form", :search => @subindex.search) %>

<div class="tip">
  Found <strong><%= @responses.total_entries %></strong> responses.
  <%= link_to_if_auth("Create new response", "#", "responses#create", nil, :onclick => "$('form_chooser').show(); return false") %>
  <form id="form_chooser" action="<%= new_response_url %>" style="display: none">
    <%= select_tag(:form_id, options_for_select(Form.select_options(:published => false)), :include_blank => "Select a form...") %>
    <%= submit_tag("Go") %>
  </form>
</div>

<%= render("layouts/index_table", :objects => @responses, 
  :fields => %w[form_name place submitter observation_time submission_time age reviewed? actions]) %>