<table class="report_meta">
  <tr>
    <td>
      <%= I18n.t('report/report.mission') %>
    </td>
    <td>
      <%= mission.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= I18n.t('report/report.form') %>
    </td>
    <td>
      <%= form.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= I18n.t('report/report.response_count') %>
    </td>
    <td>
      <%= response_count %>
    </td>
  </tr>
  <tr>
    <td>
      <%= I18n.t('report/report.missing_observers') %>
    </td>
    <td>
      <%= observers_without_responses.map(function(obs){ return obs.name; }).join(', ') %>
    </td>
  </tr>
</table>

<table class="main">
  <% /*# for now we just have one group */ %>
  <% groups[0].clusters.forEach(function(cluster){ %>
    
    <% /*# do cluster header row */ %>
    <tr class="cluster_header">
      <td>#</td>
      <td><%= I18n.t('activerecord.models.question.one') %></td>

      <% if (cluster.display_type == 'flow' || cluster.headers.length > 5) { %>
        <td colspan="5"><%= cluster.overall_header %></td>
      <% } else { %>
        <% /*# print out each header cell */ %>
        <% cluster.headers.forEach(function(header) { %>
          <td><%= header.name || header %></td>
        <% }); %>

        <% /*# print out blank cells up to max */ %>
        <% for (var i = 0; i < 5 - cluster.headers.length; i++) { %>
          <td></td>
        <% } %>
      <% } %>
    </tr>
  <% }); %>
</table>