<% /*# render the report metadata */ %>
<table class="report_meta">
  <tr>
    <td><%= I18n.t('report/report.mission') %></td>
    <td><%= report.mission.name %></td>
  </tr>
  <tr>
    <td><%= I18n.t('report/report.form') %></td>
    <td><%= report.form.name %></td>
  </tr>
  <tr>
    <td><%= I18n.t('report/report.response_count') %></td>
    <td><%= report.response_count %></td>
  </tr>
  <tr>
    <td><%= I18n.t('report/report.missing_observers') %></td>
    <td><%= report.observers_without_responses.map(function(obs){ return obs.name; }).join(', ') %></td>
  </tr>
</table>

<div class="std_form_report_results">
  <% /*# render each report subset */ %>
  <% report.subreports.forEach(function(subreport){ %>
    <% /*# render the subset, and let the partial know whether it's the only one or not */ %>
    <%= helper.partial('subreport', {subreport: subreport, max_result_cols: max_result_cols, is_only: (report.subreports.length == 1)}) %>
  <% }); %>
</div>