<div class="mission">
  <%= I18n.t('report/report.mission') %>: <strong><%= mission.name %></strong>
</div>
<div class="response_count">
  <%= I18n.t('report/report.response_count') %>: <strong><%= response_count %></strong>
</div>
<div class="missing_observers">
  <%= I18n.t('report/report.missing_observers') %>: 
  <strong><%= observers_without_responses.map(function(obs){ return obs.name; }).join(', ') %></strong>
</div>
