<table>
  <tr>
    <td>
      <%= I18n.t('report/report.mission') %>
    </td>
    <td>
      <%= mission.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= I18n.t('report/report.form') %>
    </td>
    <td>
      <%= form.name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= I18n.t('report/report.response_count') %>
    </td>
    <td>
      <%= response_count %>
    </td>
  </tr>
  <tr>
    <td>
      <%= I18n.t('report/report.missing_observers') %>
    </td>
    <td>
      <%= observers_without_responses.map(function(obs){ return obs.name; }).join(', ') %>
    </td>
  </tr>
</table>