<% /*# text items */ %>
<% if (item.text != null) { %>

  <% /*# include submitter name and add link to response if appropriate */ %>
  <% if (item.submitter_name) { %>
    <div class="by_at">
      <%- I18n.t('report/report.submitted_by_at', {user: item.submitter_name, datetime: item.created_at}) %>,
      <a href="<%= ELMO.app.url_builder.build('responses', item.response_id) %>"><%= I18n.t('report/report.view_response', {id: item.response_id}) %></a>
    </div>
  <% } %>

  <%= item.text %>

<% /*# tally items */ %>
<% } else if (item.count != null) { %>
  <%= I18n.toNumber(item.pct, {precision: 1}) %>%
  (<%= I18n.toNumber(item.count, {precision: 0}) %>)

<% /*# statistical items */ %>
<% } else if (item.stat != null) { %>
  <% /*# round number unless date/time type. we cheated a little and did date formatting in ruby b/c in JS it sux */ %>
  <%= ((item.qtype_name == 'datetime' || item.qtype_name == 'time') ? item.stat : I18n.toNumber(item.stat, {precision: 1})) %>
<% } %>
