<% /*# render the report metadata */ %>
<table class="report_meta">
  <tr>
    <td><%= I18n.t('report/report.mission') %></td>
    <td><%= report.mission.name %></td>
  </tr>
  <tr>
    <td><%= I18n.t('report/report.form') %></td>
    <td><%= report.form.name %></td>
  </tr>
  <tr>
    <td><%= I18n.t('report/report.response_count') %></td>
    <td><%= report.response_count %></td>
  </tr>
  <tr>
    <td><%= I18n.t('report/report.missing_enumerators') %></td>
    <td><%= report.enumerators_without_responses %></td>
  </tr>
</table>

<div class="std_form_report_results">
  <% /*# print message if report has no data */ %>
  <% if (report.no_data) { %>

    <em><%= I18n.t('report/report.no_match') %></em>

  <% } else { %>

    <% /*# render each report subset */ %>
    <% report.subsets.forEach(function(subset){ %>
      <% /*# render the subset, and let the partial know whether it's the only one or not */ %>
      <%= helper.partial('subset', {subset: subset, max_result_cols: max_result_cols}) %>
    <% }); %>

  <% } %>
</div>