<% content_for(:per_page_js){javascript_include_tag("places")} %>

<% rowbg = 0 %>
<%= flash_and_form_errors(@place_creator) %>
<div class="tip"><%= link_to("Enter place info manually", new_place_path) %></div>
<%= form_for(@place_creator) do |f| %>
<table class="form">
  <tr>
    <td class="name">Place Name/Address:</td>
    <td class="value">
      <%= place_field(f) %>
    </td>
    <td class="details">
      Enter the full address of the place you want to add and click 'Suggest'. 
      The system will offer some suggestions from Google. If you can't find the desired place,
      click the link above to enter it manually.
    </td>
  </tr>
</table>
<%= f.submit("Add Place") %>
<% end %>