
<%= elmo_form_for(@broadcast) do |f| %>

  <%= f.field(:recipient_ids, :type => :hidden) %>
  <%= f.field(:to, :content => @broadcast.recipients.collect{|u| link_to(u.name, u)}.join(", ")) %>
  <%= f.field(:medium, :type => :select, :required => true,
    :options => translate_options(Broadcast::MEDIUM_OPTIONS, [:broadcast, :mediums, :options])) %>

  <%# only show balance if we were able to retrieve one and if we're not in read_only mode %>
  <%= f.field(:balance, :partial => "balance") if @balance.present? && @broadcast.new_record? %>

  <%= f.field(:which_phone, :type => :select, :required => true,
    :options => translate_options(Broadcast::WHICH_PHONE_OPTIONS, [:broadcast, :which_phone_options])) %>
  <%= f.field(:subject, :required => true) %>
  <%= f.field(:body, :required => true, :partial => "body") %>

  <%# show any errors if we're in show mode %>
  <% if read_only && @broadcast.send_errors %>
    <%= f.field(:send_errors, :partial => "send_errors") %>
  <% end %>

  <div class="submit-buttons">
    <%= f.submit(:send, :class => "btn btn-primary") %>
  </div>
<% end %>

<%= javascript_doc_ready do %>
  $("#broadcast_medium").change(broadcast_medium_changed);
  $("#broadcast_medium").trigger("change");
<% end %>