<form class="search_form form-inline">
  <input type="text" class="form-control" name="search"
    value="<%= params[:search] %>" id="search_str" placeholder="<%= t("common.search") %>" autocomplete="off">
  <input type="submit" value="<%= t("common.search") %>" class="btn">
  <% if params[:search].present? %>
    <input type="button" value="<%= t("common.clear") %>" class="btn btn-clear">
  <% end %>
  <br/>
  <div class="search-footer">
    <%= search_examples %>
    <a href="#"><%= t('search.help_link') %></a>
  </div>
</form>

<%# help search modal %>
<div class="modal fade" id="search-help-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t("search.help_title") %></h4>
      </div>
      <div class="modal-body">
         <%= tmd("search.help_text.#{controller_name}", search_help_text_params) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t("common.close") %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_doc_ready do %>
  searchFormView = new ELMO.Views.SearchFormView();
<% end %>
