<tr class="summary full-width-subhead">
  <td class="num">#<%= summary.questioning.full_dotted_rank %></td>
  <td colspan="<%= result_cols + 2 %>">
    <%= render("reports/standard_form_report/question_label", summary: summary) %>
  </td>
</tr>

<% if summary.items.empty? %>
  <tr class="summary">
    <td colspan="<%= result_cols + 2 %>">
      <em class="no-match"><%= I18n.t('report/report.no_match') %></em>
    </td>
  </tr>
<% else %>
  <% shortcodes = shortcode_map(summary.items.map(&:response_id)) %>
  <% summary.items.each do |item| %>
    <tr class="summary">
      <td colspan="<%= result_cols + 2 %>">
        <%= render("reports/standard_form_report/item", item: item, shortcode: shortcodes[item.response_id]) %>
      </td>
      <%= render("reports/standard_form_report/reference", summary: summary) %>
    </tr>
  <% end %>
<% end %>
