<% # text items %>
<% if item.text.present? %>
  <%= sanitize(item.text) %>

  <% # include submitter name and add link to response if appropriate %>
  <% if item.submitter_name.present? %>
    <div class="by-at">
      <%= t("report/report.submitted_by_at", user: item.submitter_name, datetime: item.created_at) %>,
      <a href="<%= response_path(shortcode) %>">
        <%= t("report/report.view_response", id: shortcode) %>
      </a>
    </div>
  <% end %>

<% # tally items %>
<% elsif item.count.present? %>
  <%= number_with_precision(item.pct, precision: 1) %>%
  (<%= number_with_precision(item.count, precision: 0) %>)

<% # statistical items %>
<% elsif item.stat.present? %>
  <% if item.qtype_name == "datetime" || item.qtype_name == "time" %>
    <%= item.stat %>
  <% else %>
    <%= number_with_precision(item.stat, precision: 1) %>
  <% end %>
<% end %>
