<% if read_only %>

  <%= t("access_levels.#{form.object.access_level}") %>

<% else %>

  <%= form.select(:access_level, translate_options(Form::API_ACCESS_LEVELS, 'access_levels'), {}, :class => 'form-control') %>

  <div id="api-users">
    <p><%= t("form.select_api_users") %></p>
    <div id="api-users-scrollbox">
      <% @users.each do |user| %>
        <div class="checkbox-row">
          <%= check_box_tag "whitelist_users[]", user.id, @form.has_white_listed_user?(user.id) %>
          <%= user.name %>
        </div>
      <% end %>
    </div>
  </div>

  <%= javascript_doc_ready do %>
    new ELMO.Views.ApiUserListView();
  <% end %>
<% end %>