<div id="printable_form" class="printable">
  <div id="reqd_message"><%= t("forms.reqd_sym_definition") %> <%= reqd_sym %>.</div>
  <h1><%= form.name %></h1>
  <table>
    <tr>
      <td class="name"><%= Response.human_attribute_name("user_id") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>
    <tr>
      <td class="name"><%= t("responses.observation_time") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>
    <% form.questionings.each do |qing| %>
      <% next unless qing.question.qtype.form_printable? # only print printable questions %>
      <%= render("questionings/printable", :qing => qing, :lang => :en) %>
    <% end %>
  </table>
</div>
