<div id="printable-form" class="d-none d-print-block">
  <%= logo_image(style: :dark, class: "logo") %>
  <h1 class="title">
    <%= title(name_only: true, name: @form.name, standardized: @form.standardized?) %>
  </h1>
  <div class="mission"><%= current_mission&.name || "[#{t('form.no_mission')}]" %></div>
  <table>
    <tr>
      <td class="name"><%= Response.human_attribute_name("user_id") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>
    <tr>
      <td class="name"><%= t("response.observation_time") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>

    <%= render("form_items/printable", items: form.visible_children) %>
  </table>
</div>
