<div id="printable_form" class="printable">
  <%= logo_dark_image(class: 'logo') %>
  <h1 class="title"><%= title(name_only: true) %></h1>
  <div class="mission"><%= current_mission.try(:name) || "[#{t('form.no_mission')}]" %></div>
  <table>
    <tr>
      <td class="name"><%= Response.human_attribute_name("user_id") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>
    <tr>
      <td class="name"><%= t("response.observation_time") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>

    <%= render 'form_items/printable', items: form.arrange_descendants %>
  </table>
</div>
