<div id="printable_form" class="printable">
  <% if configatron.has_key?(:logo__dark_path) %>
    <%= image_tag(configatron.logo_dark_path, class: 'logo') %>
  <% else %>
    <%= image_tag("logo-dark.png", class: 'logo') %>
  <% end %>
  <h1 class="title"><%= title(name_only: true) %></h1>
  <div class="mission"><%= current_mission.try(:name) || "[#{t('form.no_mission')}]" %></div>
  <table>
    <tr>
      <td class="name"><%= Response.human_attribute_name("user_id") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>
    <tr>
      <td class="name"><%= t("response.observation_time") %></td>
      <td class="answer text_answer"><div class="answer_box"></div></td>
    </tr>

    <%= render 'form_items/printable', items: form.arrange_descendants %>
  </table>
</div>
