<div class="screen">

  <%= top_action_links(@form) do %>
    <% if @form.has_questions? %>
      <% if can?(:publish, @form) %>
        <% lbl = t("form.#{@form.verb}_form") %>
        <%= link_to(icon_tag(@form.verb) + lbl, publish_form_path(@form), :'data-method' => 'put') %>
      <% end %>

      <% if @form.smsable? && !admin_mode? %>
        <%= link_to(icon_tag(:sms) + t('form.view_sms_guide'), form_path(@form, :sms_guide => 1)) if @form.published? %>
        <%= link_to(icon_tag(:sms_console) + t('page_titles.sms_tests.all'), new_sms_test_path) if can?(:create, Sms::Test) %>
      <% end %>

      <%# This link should be last because it has loading ind after it. %>
      <%= link_to(icon_tag(:print) + t('form.print_form'), "#", class: 'print-link', :'data-form-id' => @form.id) %>
      <%= loading_indicator(:id => @form.id) %>
    <% end %>
  <% end %>

  <%= published_warning(@form) if @form.published? && form_mode == :edit %>

  <%= elmo_form_for(@form, :style => @form.has_questions? ? 'with_questions' : 'no_questions') do |f| %>

    <%# We wrap the top part of the form in this block b/c the whole form is 100% width due to index table below %>
    <div class="elmo_form">

      <%= f.base_errors %>

      <%= f.field(:name, :required => true, :read_only => cannot?(:rename, @form)) %>

      <% unless admin_mode? %>
        <%= f.field(:smsable, :type => :check_box)  %>
        <%= f.field(:allow_incomplete, :type => :check_box, :read_only => @form.published?) unless admin_mode? %>
        <%= f.field(:published, :type => :check_box, :read_only => true) unless @form.new_record? %>
        <%= f.field(:access_level, :partial => 'form_access_level') %>
        <%= f.field(:version, :content => @form.version_with_code) unless @form.new_record? %>
      <% end %>

    </div>

    <%# questions on the form %>
    <%= index_table(Questioning, @form.questionings, :within_form => true) if form_mode != :new %>

    <% show_sp_btn = !@form.new_record? && !@form.published? && can?(:publish, @form) %>
    <div class="submit-buttons <%=  'publish' unless !show_sp_btn %>">
      <% if show_sp_btn %>
        <%= f.submit(I18n.t('form.save_and_publish'), :name => 'save_and_publish', :class => 'btn btn-default') %>
      <% end %>

      <%= f.submit(:class => "btn btn-primary") %>
    </div>

  <% end %>
</div>

<%= render('print_format_tips_modal') %>

<%= javascript_doc_ready do %>
  Form.hookup_rank_boxes();
  new ELMO.Views.PrintFormView();
<% end %>