<div class="screen">

  <%= top_action_links(@form) do %>
    <% if @form.has_questions? %>
      <% if can?(:publish, @form) %>
        <% lbl = t("form.#{@form.verb}_form") %>
        <%= link_to(icon_tag(@form.verb) + lbl, publish_form_path(@form), :'data-method' => 'put') %>
      <% end %>

      <% if @form.smsable? && !admin_mode? %>
        <%= link_to(icon_tag(:sms) + t('form.view_sms_guide'), form_path(@form, :sms_guide => 1)) if @form.published? %>
        <%= link_to(icon_tag(:sms_console) + t('page_titles.sms_tests.all'), new_sms_test_path) if can?(:create, Sms::Test) %>
      <% end %>

      <%# This link should be last because it has loading ind after it. %>
      <%= link_to(icon_tag(:print) + t('form.print_form'), "#", class: 'print-link', :'data-form-id' => @form.id) %>
      <%= loading_indicator(:id => @form.id) %>
    <% end %>
  <% end %>

  <%= published_warning(@form) if @form.published? && form_mode == :edit %>

  <%= elmo_form_for(@form, :style => @form.has_questions? ? 'with_questions' : 'no_questions') do |f| %>

    <%# We wrap the top part of the form in this block b/c the whole form is 100% width due to index table below %>
    <div class="elmo_form">

      <%= f.field(:name, :required => true, :read_only => cannot?(:rename, @form)) %>

      <% unless admin_mode? %>
        <%= f.field(:smsable, :type => :check_box)  %>
        <%= f.field(:allow_incomplete, :type => :check_box, :read_only => @form.published?) unless admin_mode? %>
        <%= f.field(:published, :type => :check_box, :read_only => true) unless @form.new_record? %>
        <%= f.field(:access_level, :partial => 'form_access_level') %>
        <%= f.field(:version, :content => @form.version_with_code) unless @form.new_record? %>
      <% end %>

    </div>

    <div class="questions">
      <input class="btn btn-primary" type="submit" value="Save"></input>

      <h2>Questions</h2>

      <div class="questions-header" id="questions-header">
        <span><a href="choose-questions"><i class="fa fa-plus"></i> Add Question</a></span>
        <span class="q-addGroup"><a><i class="fa fa-folder-open-o"></i> Add Group</a></span>
      </div>

      <div class="draggable-list-wrapper">
        <ol class="questions-list ui-sortable">
          <% @form.questionings.each do |qing| %>
            <li class="question">

              <%# Standard question? %>
              <% if qing.standardized? == true %>
                <div class="q-standardized"><i class="fa fa-certificate"></i></div>
              <% end %>

              <%# Question type icon %>
              <div class="q-type">
                <% t = qing.qtype_name %>

                <% if t == 'text' %>
                  <span>abc</span>
                <% elsif t == 'long_text' %>
                  <i class="fa fa-align-left"></i>
                <% elsif t == 'integer' %>
                  <span>123</span>
                <% elsif t == 'decimal' %>
                  <span>1.23</span>
                <% elsif t == 'select_one' %>
                  <i class="fa fa-dot-circle-o"></i>
                <% elsif t == 'select_multiple' %>
                  <i class="fa fa-check-square-o"></i>
                <% elsif t == 'date' %>
                  <i class="fa fa-calendar"></i>
                <% elsif t == 'time' %>
                  <i class="fa fa-clock-o"></i>
                <% elsif t == 'datetime' %>
                  <i class="fa fa-calendar"></i>
                  <i class="fa fa-clock-o"></i>
                <% elsif t == 'location' %>
                  <i class="fa fa-map-marker"></i>
                <% end %>
              </div>

              <div class="q-base"
                <%# Question short code %>
                <span class="q-code">[<%= qing.code %>]</span>

                <%# Question text %>
                <span class="q-name"><%= qing.name %></span>

                <%# Required question? %>
                <% if qing.required == true %>
                  <span class="q-required">*</span>
                <% end %>

                <%# Tags %>
                <% if qing.tags.length != 0 %>
                  <% qing.tags.each do |tag| %>
                    <span class="q-tag"> <%= tag %></span>
                  <% end %>
                <% end %>
              </div>

              <%# Conditional on another question? %>
              <div class="q-condition">
                <% if qing.has_condition? == true %>
                  <i class="fa fa-link"></i>
                  <%# TODO: display question number of linked question %>
                  <span>#n.n</span>
                <% end %>
              </div>

              <%# Edit and delete %>
              <div class="q-actions">
                <a href="../../questionings/<%= qing.id %>/edit">
                  <i class="fa fa-pencil"></i>
                </a>
                <a href="../../questionings/<%= qing.id %>"
                  class="action_link action_link_destroy" data-confirm="Are you sure you want to permanently delete the Question '<%= qing.name %>'?" data-method="delete" rel="nofollow" title="Delete">
                  <i class="fa fa-trash-o"></i>
                </a>
                </a>
              </div>

            </li>
          <% end %>
        </ol>
      </div>
      <%= render('add_group') %>
    </div>

    <% show_sp_btn = !@form.new_record? && !@form.published? && can?(:publish, @form) %>
    <div class="submit-buttons <%=  'publish' unless !show_sp_btn %>">
      <% if show_sp_btn %>
        <%= f.submit(I18n.t('form.save_and_publish'), :name => 'save_and_publish', :class => 'btn btn-default') %>
      <% end %>

      <%= f.submit(:class => "btn btn-primary") %>
    </div>

  <% end %>
</div>

<%= render('print_format_tips_modal') %>

<%= javascript_doc_ready do %>
  Form.hookup_rank_boxes();
  new ELMO.Views.PrintFormView();
  new ELMO.Views.SortableFormItemsView();
  new ELMO.Views.QuestionGroupDialogView();
<% end %>
