<% @title = t("forms.adding_questions", :form_name => @form.name) %>
<%= flash_and_form_errors %>

<% unless @questions.empty? %>
  <div class="question_list">
    <%= index_table(Question, @questions) %>
  </div>
<% end %>

<div class="question_form">
  <% unless @questions.empty? %>
    <div class="link_set">
      <%= link_to(t("forms.back_to_questions"), "#", :class => "question_list") %>
    </div>
  <% end %>
  <%= render("questionings/form") %>
</div>

<%= javascript_doc_ready do %>
  new ELMO.FormQuestionChooser();
<% end %>