<% @title_args = {:name => @form.name, :standardized => @form.standardized?} %>

<%= flash_and_form_errors(@form) %>

<div class="screen">
  <%= published_warning(@form) if @form.published? && form_mode == :edit %>

  <%= nice_form_for(@form) do |f| %>
    <%= form_field(f, :name, :required => true, :force_show_mode => cannot?(:rename, @form)) %>
    <%= form_field(f, :smsable, :type => :check_box) unless admin_mode? %>
    <%= form_field(f, :allow_incomplete, :type => :check_box) unless admin_mode? %>
    <%= form_field(f, :published, :type => :check_box, :force_show_mode => true) if !admin_mode? && f.mode != :new %>
    <%= form_field(f, :version, :partial => 'version') unless f.mode == :new %>
  <% end %>

  <%# questions on the form %>
  <%= index_table(Questioning, @form.questionings) if form_mode != :new %>

  <%# the submit button is down here because there are two forms on the page. JS makes it work properly %>
  <%= form_submit_button(nil, :label => :save) %>

</div>
<div id="form_to_print"></div>

<%= javascript_doc_ready do %>
  Form.hookup_rank_boxes();
<% end %>
