<div class="screen">
  <%= flash_and_form_errors %>
  <%= index_table(Form, @forms) %>

  <% if @importable %>
    <div class="importable" title="<%= t('standard.import_standard') %>">
      <div class="modal_error">
        <%= t('standard.import_choose_one') %>
      </div>
      <% if @importable.empty? %>
        <%= t('standard.no_importable') %>
      <% else %>
        <div>
          <%= t('standard.import_instructions') %>
        </div>
        <form method="post" action="<%= send("import_standard_#{controller_name}_path") %>">
          <% @importable.each do |o| %>
            <div>
              <input type="checkbox" name="objs_to_import[]" id="importable-<%= o.id %>" value="<%= o.id %>">
              <label for="importable-<%= o.id %>"><%= o.name %></label>
            </div>
          <% end %>
        </form>
      <% end %>
    </div>

    <%= javascript_doc_ready do %>
      new ELMO.Views.StandardImportForm({
        importable_count: <%= @importable.count.to_json.html_safe %>
      });
    <% end %>
  <% end %>
</div>
<div id="form_to_print"></div>