<% @title = @form.name %>

<% locale_was = I18n.locale; I18n.locale = @lang %>
<div class="sms_guide">

  <div class="controls">
    <form>
      <input type="hidden" name="sms_guide" value="1">
      <%= t("common.language") %>:
      <select name="lang" onchange="this.form.submit();">
        <%= configatron.full_locales.collect{|l| content_tag(:option, language_name(l),
          {:value => l}.merge(@lang.to_s == l.to_s ? {:selected => "selected"} : {}))}.reduce(:<<) %>
      </select>
    </form>

    <%= link_to(t("page_titles.sms_tests.all"), new_sms_test_path) if can?(:create, Sms::Test) %>
  </div>

  <div id="body">
    <div class="header"><%= t(".header") %></div>
    <h1 class="title inner"><%= title %></h1>

    <div id="instructions">
      <p><%= t(".instructions.intro") %></p>
      <ol>
        <li>
          <%= icon_tag("file-o") %> <%= t(".instructions.paper") %>
          <ol>
            <li>
              <%= t(".instructions.1a") %>
              <div id="user-field"><%= t(".for_paper_record") %></div>
            </li>
            <li>
              <%= t(".instructions.1b") %>
              <div id="example-box"><%= image_tag("sms_guide/b.png") %></div>
            </li>
          </ol>
        </li>
        <li>
          <%= icon_tag("phone") %> <%= t(".instructions.phone") %>
          <ol>
            <li>
              <% if @number_appendix %>
                <%= t(".instructions.2a_appendix") %>
              <% else  %>
                <% number = configatron.incoming_sms_numbers.first || t(".unknown_number") %>
                <%= t(".instructions.2a_number_html", number: number) %>
              <% end %>
            </li>
            <li>
              <%= t(".instructions.2b") %>
            </li>
            <li>
              <%= t(".instructions.2c_html", period: period_glyph, spc: spc_glyph) %>
            </li>
            <li>
              <%= t(".instructions.example_sms") %>: &nbsp;
              <span id="example-sms">
                <%= 3439 if @form.authenticate_sms? %>
                <%= @form.code %>
                1.c 2.c,f 3.27 4.d 5.door was locked 6.20160401 7.c
              </span>
            </li>
          </ol>
        </li>
    </div>
    <table>
      <tr id="message-arrow">
        <td></td>
        <td class="answer">
          <%= icon_tag("arrow-down") %> <%= t(".sms_message")%>
        </td>
      </tr>
      <% if @form.authenticate_sms? %>
        <tr>
          <td><%= t(".auth_code") %></td>
          <td class="answer"><%= answer_space(width: 4) %> <%= spc_glyph %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= t(".form_code") %></td>
        <td class="answer"><span class="prefilled-text"><%= @form.code %></span> <%= spc_glyph %></td>
      </tr>

      <% @qings_with_indices.each do |index, qing| %>
        <tr>
          <td>
            <div class="question">
              <strong><%= index %>. <%= qing.question.name %><%= reqd_sym if qing.required? %></strong>
            </div>

            <%# Options area, for select_* questions %>
            <% if qing.has_options? && qing.option_set.sms_formatting == "inline" %>
              <div class="options">
                <% qing.options.each_with_index do |opt, idx| %>
                  <span><%= index_to_letter(idx + 1) %>) <%= opt.name %></span>
                <% end %>
              </div>
            <% end %>

            <div class="hint"><%= sms_guide_hint(qing) %></div>
          </td>
          <td class="answer">
            <span class="prefilled-text"><%= index %></span>
            <%= period_glyph %>
            <%= answer_space_for_questioning(qing) %>
            <%= spc_glyph unless index == @qings_with_indices.size %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% I18n.locale = locale_was %>
