<% @title = @form.name %>
<div class="form-warning alert alert-info">
  <p><%= t("sms_form.guide.appendix.introduction") %></p>
  <% @form.option_sets_with_appendix.each do |option_set| %>
    <%= link_to t("sms_form.guide.appendix.export", option_set: option_set.name), export_option_set_path(option_set) %>
  <% end %>
</div>

<% locale_was = I18n.locale; I18n.locale = @lang %>
<div class="sms_guide">
  <div class="header"><%= t("sms_form.guide.header") %></div>
  <h1 class="printable"><%= title %></h1>
  <div class="controls">
    <form>
      <input type="hidden" name="sms_guide" value="1">
      <%= t("common.language") %>:
      <select name="lang" onchange="this.form.submit();">
        <%= configatron.full_locales.collect{|l| content_tag(:option, language_name(l),
          {:value => l}.merge(@lang.to_s == l.to_s ? {:selected => "selected"} : {}))}.reduce(:<<) %>
      </select>
    </form>

    <%= link_to(t("page_titles.sms_tests.all"), new_sms_test_path) if can?(:create, Sms::Test) %>
  </div>
  <table>
    <tr>
      <td colspan="2" class="user-field">
        <%= Response.human_attribute_name(:user_id) %>: _________________________________________
      </td>
    </tr>
    <tr>
      <td colspan="2" class="step1">
        <strong><%= t("common.step") %> 1:</strong> <%= t("sms_form.guide.step1") %>
        <%= t(@form.all_required? ? "sms_form.guide.all_required" : "sms_form.guide.not_all_required") %>
      </td>
      <td class="answers"></td>
    </tr>
    <tr>
      <td class="rank"></td>
      <td class="pointer">
        <em><%= t("sms_form.guide.unique_code") %> </em>
      </td>
      <td class="answers">
        <%= answer_space(@form.current_version.code) %>
      </td>
    </tr>

    <%# loop over each question %>
    <% @form.smsable_questionings.each do |index, qing| %>
      <tr>
        <td class="rank"><%= index %>.</td>
        <td class="question">
          <%= qing.question.name %>
          <%= reqd_sym if qing.required? %>
        </td>
        <td class="answers">
          <%= answer_space(" #{index}.") %>
        </td>
      </tr>

      <%# options area, for select_* questions %>
      <% if qing.question.qtype.has_options? && qing.option_set.sms_formatting == "inline" %>
        <tr>
          <td class="rank"></td>
          <td class="options">
            <% qing.question.options.each_with_index do |opt, idx| %>
              <span><%= index_to_letter(idx + 1) %>) <%= opt.name %></span>
            <% end %>
          </td>
          <td class="answers"></td>
        </tr>
      <% end %>

      <%# pointer/answer row, depends on question type %>
      <tr>
        <td class="rank"></td>
        <td class="pointer">
          <em>
            <% qtype_name = qing.text_type_for_sms? ? 'select_one_as_text' : qing.qtype_name %>
            <%= t("sms_form.guide.pointers.#{qtype_name}") %>
            <%= sms_example_for_question(qing) %>
          </em>
        </td>
        <td class="answers">
          <%= answer_space_for_question(qing) %>
        </td>
      </tr>
    <% end %>

    <%# final instructions %>
    <tr>
      <td colspan="3" class="step2">
        <strong><%= t("common.step") %> 2:</strong> <%= t("sms_form.guide.step2") %>
        <ol>
          <% t("sms_form.guide.step2_substeps").each do |ss| %>
            <%# OK to use html_safe here because we control the substep text and we're manually escaping the number. %>
            <li><%= ss.gsub("%{submit_numbers}", html_escape(submit_numbers)).html_safe %></li>
          <% end %>
        </ol>
        <%= t("common.thanks_excl") %>
      </td>
      <td></td>
    </tr>

  </table>
</div>
<% I18n.locale = locale_was %>
