<% @title = @form.name %>

<% locale_was = I18n.locale; I18n.locale = @lang %>
<div class="sms_guide">

  <div class="controls">
    <form>
      <input type="hidden" name="sms_guide" value="1">
      <%= t("common.language") %>:
      <select name="lang" onchange="this.form.submit();">
        <%= configatron.full_locales.collect{|l| content_tag(:option, language_name(l),
          {:value => l}.merge(@lang.to_s == l.to_s ? {:selected => "selected"} : {}))}.reduce(:<<) %>
      </select>
    </form>

    <%= link_to(t("page_titles.sms_tests.all"), new_sms_test_path) if can?(:create, Sms::Test) %>
  </div>

  <div id="body">
    <div class="header"><%= t(".header") %></div>
    <h1 class="title inner"><%= title %></h1>

    <div id="user-field">
      <%= Response.human_attribute_name(:user_id) %>:
      <div><%= t(".for_paper_record") %></div>
    </div>

    <div id="instructions">
      <h3>Instructions</h3>
      <p>Please read all instructions to begin. You will use this paper first and then your phone.</p>
      <ol>
        <li>
          <%= icon_tag("file-o") %> PAPER
          <ol>
            <li>
              First answer all the questions below and ll in each dashed box, e.g.
            </li>
          </ol>
        </li>
        <li>
          <%= icon_tag("phone") %> MOBILE
          <ol>
            <li>
              With your mobile, begin an SMS to
              <% if @number_appendix %>
                one of the numbers on the attached sheet.
              <% elsif configatron.incoming_sms_numbers.any? %>
                <strong><%= configatron.incoming_sms_numbers.first %></strong>.
              <% else %>
                <strong>[<%= t(".unknown_number") %>]</strong>.
              <% end %>
            </li>
            <li>
              Enter the contents of each line on the right side of the page, going from top to bottom.
            </li>
            <li>
              Periods and spaces are denoted by <%= period_glyph %> and <%= spc_glyph %>, respectively. It is important to enter both periods and spaces.
            </li>
            <li>
              Example SMS: &nbsp;
              <span id="example-sms">
                3439 jks 1.c 2.ab 3.a 4.d 5.observer 6.a 7.c 8.c 9.z 10.90 1.c 2.ab 3.a 4.d 5.observer 6.a 7.c 8.c 9.z 10.90
              </span>
            </li>
          </ol>
        </li>
     </div>

    <table>
      <tr>
        <td colspan="2" class="user-field">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="step1">
          <strong><%= t("common.step") %> 1:</strong> <%= t(".step1") %>
          <%= t(@form.all_required? ? ".all_required" : ".not_all_required") %>
        </td>
        <td class="answers"></td>
      </tr>
      <tr>
        <td class="rank"></td>
        <td class="pointer">
          <em><%= t(".unique_code") %> </em>
        </td>
        <td class="answers">
          <%= answer_space(@form.current_version.code) %>
        </td>
      </tr>

      <%# options area, for select_* questions %>
      <% if qing.question.qtype.has_options? && qing.option_set.sms_formatting == "inline" %>
        <tr>
          <td class="rank"></td>
          <td class="pointer">
            <em>
              <% qtype_name = qing.text_type_for_sms? ? 'select_one_as_text' : qing.qtype_name %>
              <%= t(".pointers.#{qtype_name}") %>
              <%= sms_example_for_question(qing) %>
            </em>
          </td>
          <td class="answers">
            <%= answer_space_for_question(qing) %>
          </td>
        </tr>
      <% end %>

      <%# final instructions %>
      <tr>
        <td class="rank"></td>
        <td class="pointer">
          <em>
            <% qtype_name = pointer_type(qing) %>
            <%= t(".pointers.#{qtype_name}") %>
            <%= sms_example_for_question(qing) %>
          </em>
        </td>
        <td class="answers">
          <%= answer_space_for_question(qing) %>
        </td>
        <td></td>
      </tr>

    </table>
  </div>
</div>
<% I18n.locale = locale_was %>
