<div class="assignment <%= new_record ? 'new_record' : '' %>">
  <div class="mission">

    <% if (new_record) { %>

      <select name="user[assignments_attributes][<%= idx %>][mission_id]">
        <option>[<%= I18n.t('activerecord.models.mission.one') %>]</option>
        <% params.assignable_missions.forEach(function(mission) { %>
          <option value="<%= mission.id %>"><%= mission.name %></option>
        <% }); %>
      </select>

    <% } else { %>

      <%= assignment.mission.name %>
      <% if (can_update) { %>
        <input type="hidden" name="user[assignments_attributes][<%= idx %>][id]" value="<%= assignment.id %>" />
      <% } %>

    <% } %>
  </div>

  <div class="role">
    <% if (can_update) { %>
      <select name="user[assignments_attributes][<%= idx %>][role]">

        <% if (new_record) { %>
          <option>[<%= I18n.t('role.role') %>]</option>
        <% } %>

        <% params.assignable_roles.forEach(function(role) { %>
          <option value="<%= role %>" <%= !new_record && role == assignment.role ? 'selected="selected"' : '' %>><%= I18n.t("role." + role) %></option>
        <% }); %>

      </select>
    <% } else { %>
      <%= I18n.t("role." + assignment.role) %>
    <% } %>
  </div>

  <% if (can_update) { %>
    <input type="hidden" name="user[assignments_attributes][<%= idx %>][_destroy]" value="0" class="destroy_flag">
    <a href="#" class="delete_assignment"><i class="fa fa-trash-o"></i></a>
  <% } %>
</div>