<% field_name_prefix = "response[answers_attributes][#{index}]" %>

<%# show the error messages without keys %>
<% puts answer.errors.awesome_inspect %>
<%= content_tag(:div, answer.errors.to_hash.values.join(', '), class: 'form-errors') unless answer.errors.empty? %>

<% case type = answer.qtype.name
   when "select_one" %>

  <%= select_tag("#{field_name_prefix}[option_id]",
    options_from_collection_for_select(answer.options, 'id', 'name', answer.option_id),
    include_blank: true, class: 'form-control') %>

<% when "select_multiple" %>

  <%# render a checkbox for each possible choice %>
  <div class="widget">
    <%= render(partial: "responses/answers/choice", locals: {prefix: field_name_prefix},
      collection: answer.all_choices, class: "form-control") %>
  </div>

<% when "datetime", "date", "time" %>

  <%= send("#{type}_select", field_name_prefix, :"#{type}_value", include_blank: true, object: answer, class: "form-control") %>

<% else %>

  <%# textarea or input, depending on type %>
  <%= send(type == 'long_text' ? 'text_area_tag' : 'text_field_tag', "#{field_name_prefix}[value]", answer.value,
    class: "qtype_#{type} form-control") %>

  <% if type == 'location' %>
    &nbsp;<%= action_link("edit", "#", class: "edit_location_link") if form_mode != :show %>
  <% end %>

<% end %>

<%= render('responses/answers/answer_hidden_fields', answer: answer, index: index, group_instance: group_instance) %>
