<div class="cascading-selects" id="cascading-selects-<%= context.input_id %>">
  <% answer_set.children.each_with_index do |answer, index| %>
    <% level_context = context.add(index) %>
    <div class="level">
      <%= render("responses/answers/hidden_fields", node: answer, context: level_context) %>
      <label for="<%= level_context.input_id(:option_node_id) %>">
        <%= answer_set.level_name(level_context) %>
      </label>
      <% if answer.invalid? %>
        <%= content_tag(:div, answer.errors.to_hash.values.join(", "), class: "form-errors") %>
      <% end %>
      <%= answer_set.select_tag(answer, level_context) %>
    </div>
  <% end %>
</div>

<%= javascript_doc_ready do %>
  new ELMO.Views.CascadingSelectsView({
    el: $('#cascading-selects-<%= context.input_id %>'),
    option_set_id: <%=json answer_set.option_node_path.option_set.id %>
  });
<% end %>
