<div id="media-uploader-<%= context.path_str %>" class="media-uploader">
  <% if answer.media_object? %>
    <div class="existing">
      <%= media_link(answer.media_object, show_delete: true) %>
    </div>
  <% end %>

  <div id="dropzone-<%= context.path_str %>" class="dropzone <%= "collapse" if answer.media_object? %>">
    <%= hidden_field_tag(context.input_name(:media_object_id), answer.media_object_id) %>
    <div class="dz-message">
      <span class="message"><%= t("common.file_drop_message") %>&nbsp;</span>
    </div>
  </div>
  <div class="dz-error-msg"></div>
</div>

<%= javascript_doc_ready do %>
  <% media_type = answer.qtype.media_type.pluralize %>
  options = <%=json(
    el: "#media-uploader-#{context.path_str}",
    zoneId: "#dropzone-#{context.path_str}",
    genericThumbPath: image_path("media/#{answer.qtype.media_type}.png"),
    postPath: media_objects_path(type: media_type),
    previewTemplate: render("file_upload/dropzone_preview"),
    paramName: "upload"
  )%>
  options.listener = ELMO.fileUploaderManager;
  new ELMO.Views.FileUploaderView(options);
<% end %>
