<div class='qing-group' id='group-<%= item.id %>' data-group-id="<%= item.id %>">
  <div class='qing-group-instances'>
    <% @response.answer_groups.for_group(item).each do |instance, subtree| %>
      <%= render 'responses/answers/qing_group_instance', item: item, subtree: subtree, group_instance: instance %>
    <% end %>
  </div>
  <% unless read_only %>
    <a href='#' class='add-instance'><%= "#{t('common.add')} #{item.group_name}" %></a>
  <% end %>
</div>

<% @response.answer_groups_empty.for_group(item).each do |instance, subtree| %>
  <%= javascript_doc_ready do %>
    new ELMO.Views.RepeatGroupFormView({el: $('<%= "#group-#{item.id}" %>')},
      <%= json(html_string: render('responses/answers/qing_group_instance', item: item, subtree: subtree, group_instance: instance)) %>
    )
  <% end %>
<% end %>
