<% mode = read_only ? "read_only" : "editable" %>
<div class="form-field answer_field qtype_<%= set.qtype.name %> <%= read_only ? "read-only" : "editable" %>"
  data-qtype-name="<%= set.qtype.name %>"
  data-qing-id="<%= set.questioning_id %>"
  data-inst-num="<%= inst_num %>">

  <label class="main">
    <%= reqd_sym if set.required? %>
    <%= set.full_dotted_rank %>.
    <%= set.question_name || "[#{t('answer.no_name')}]" %>
  </label>
  <div class="control">
    <% if set.multilevel? %>
      <%= render("responses/answers/cascading_#{mode}",
            answer_set: set,
            index: "#{set.questioning_id}_#{inst_num}",
            inst_num: inst_num) %>
    <% else %>
      <%= render("responses/answers/single_#{mode}",
            answer: set.answers.first,
            index: "#{set.questioning_id}_#{inst_num}",
            inst_num: inst_num) %>
    <% end %>
  </div>
  <% if form_mode %>
    <% question_hint = set.question_hint.try(:chomp, ".").try(:<<, ".") %>
    <% drop_hint = I18n.t("response.drop_hint.#{set.qtype.name}", default: "").presence %>
    <%= hint_popover([question_hint, drop_hint].compact.join(" ")) %>
  <% end %>
</div>

<%# Setup condition js. %>
<%# Note that we need to do this in any form mode, even show. %>
<% if set.display_conditionally? %>
  <%= javascript_doc_ready do %>
    new ELMO.Views.ResponseConditionManager(<%=json(
      el: 'form.response_form',
      item: FormItemConditionSerializer.new(set.questioning),
      # Newer-style instance descriptor.
      inst: set.depth == 1 ? [] : [{id: set.qing_parent_id.to_s, num: inst_num}]
    ) %>);
  <% end %>
<% end %>
