<%# show the error messages without keys %>
<% if answer.invalid? %>
  <%= content_tag(:div, answer.errors.to_hash.values.join(", "), class: "form-errors") %>
<% end %>

<div class="widget">
  <% case type = answer.qtype.name
     when "select_one" %>

    <%= select_tag(context.input_name(:option_node_id),
          options_from_collection_for_select(answer.first_level_option_nodes,
          "id", "name", answer.option_node_id),
          include_blank: true,
          class: "form-control") %>

  <% when "select_multiple" %>

    <%# render a checkbox for each possible choice %>
    <%= render(partial: "responses/answers/choice",
               locals: {context: context},
               collection: answer.all_choices,
               class: "form-control") %>

  <% when "datetime", "date", "time" %>
    <% date = answer.datetime_value ? answer.datetime_value : answer.date_value %>

    <% if date && (date.year < Time.current.year - 125 || date.year > Time.current.year + 125) %>
      <%= text_field_tag(context.input_name("#{type}_value"), date, class: "form-control") %>
    <% else %>
      <%= send("#{type}_select", context.input_name, :"#{type}_value",
          {include_blank: true, include_seconds: true, object: answer, use_short_month: true,
            start_year: Time.current.year - 125, end_year: Time.current.year + 125},
          class: "form-control") %>
    <% end %>

  <% when "image", "annotated_image", "signature", "sketch", "audio", "video" %>

    <%= render("responses/answers/media_editable", answer: answer, context: context) %>

  <% when "long_text" %>

    <div class="textarea-wrapper">
      <%= text_area_tag(context.input_name(:value), answer.value, class: "form-control") %>
    </div>
    <%= javascript_doc_ready do %>
      $('#<%= context.input_id(:value) %>').trumbowyg({
        svgPath: '<%= image_path("trumbowyg-icons.svg") %>',
        lang: '<%= I18n.locale %>',
        autogrow: true,
        btns: [
          ['undo', 'redo'],
          ['formatting'],
          ['strong', 'em', 'del'],
          ['superscript', 'subscript'],
          ['link'],
          ['insertImage'],
          ['unorderedList', 'orderedList'],
          ['horizontalRule'],
          ['removeformat'],
          ['fullscreen']
        ]
      });
    <% end %>

  <% when "integer", "decimal", "counter" %>

    <%= number_field_tag(context.input_name(:value), answer.value,
          class: "qtype_#{type} form-control",
          step: type == "decimal" ? "any" : nil) %>

  <% else %>

    <%= text_field_tag(context.input_name(:value), answer.value, class: "form-control") %>
    <%= action_link(:drop_pin, "#", label: false) if type == "location" %>

  <% end %>
</div>
