<%= flash_and_form_errors(@report) %>
<%= form_for(@report, {:id => "report_form"}) do |f| %>
  <div class="tip" id="required_tip">Required fields shown in <strong>bold</strong>.</div>
  <%= form_field(f, :kind, :type => :select, :options => Report::Report.type_select_options, :required => true) %>
  <%= form_field(f, :name, :required => true, :details => "A descriptive name for this report.") %>
  <%= form_field(f, :filter, :partial => "filter",
    :details => "A search string to filter the responses used in the report. You can try out your
      searches on the #{link_to('Responses page', responses_path())}.".html_safe) %>
  <%= form_field(f, :pri_grouping, :partial => "grouping", 
    :details => "An attribute or question by which the response count should be grouped (e.g. state, overall rating).") %>
  <%= form_field(f, :sec_grouping, :partial => "grouping", :details => "A second grouping.") %>
  <%= f.submit("Save & View", :id => "report_report_view_and_save", :class => "submit") %>
  <%= f.submit("View", :id => "report_report_view", :class => "submit") %>
  <div class="loader" style="display: none">&nbsp;</div>
<% end %>