<div class="subtitle">
  <%= @report.kind.downcase.capitalize %><%= @report.groupings.empty? ? " with no groupings" : "s grouped by" %> 
  <%= @report.groupings.collect{|g| g.to_s.downcase}.join(" and ").html_safe %>
  <%= @report.filter ? ", filtered by #{@report.filter.str}".html_safe : "" %>
</div>
<div class="tip">
  <%= join_links(
    link_to("Back to Report Listing", report_reports_path),
    link_to_if_auth("Edit This Report", edit_report_report_path(@report), "report_reports#update")
  ) %>
</div>
<table class="report">
  <tr>
    <th></th>
    <% @report.headers[:col].each do |ch| %>
      <th class="col"><%= ch || "[Null]" %></th>
    <% end %>
    <% if @report.show_totals?(:row) %>
      <th class="row_total">Total</th>
    <% end %>
  </th>
  <% @report.headers[:row].each_with_index do |rh, r| %>
    <tr>
      <th class="row"><%= rh || "[Null]" %></th>
      <% @report.headers[:col].each_with_index do |ch, c| %>
        <td><%= @report.data[r][c] %></td>
      <% end %>
      <% if @report.show_totals?(:row) %>
        <td class="row_total"><%= @report.totals[:row][r] %></td>
      <% end %>
    </th>
  <% end %>
  <% if @report.show_totals?(:col) %>
    <tr>
      <th class="row col_total">Total</th>
      <% @report.totals[:col].each do |ct| %>
        <td class="col_total"><%= ct > 0 ? ct : "" %></td>
      <% end %>
      <% if @report.show_totals?(:row) %>
        <td class="row_total col_total"><%= @report.grand_total %></td>
      <% end %>
    </th>
  <% end %>
  
</table>