<%# include javascript google vis api stuff %>
<% content_for(:per_page_js){report_js_includes} %>

<%= loading_indicator(:id => "report_load_ind") %>

<%= flash_and_form_errors(@report) %>

<div class="link_set report_top_links">
  <%= link_to(t("report/report.create_link"), new_report_report_path) if can?(:create, Report::Report) %>
  <%= link_to(t("report/report.back_to_list"), report_reports_path) if can?(:index, Report::Report) %>
  <%= link_to(t("report/report.export_to_csv"), report_report_path(@report, :format => :csv), :id => "csv_link") unless @report.new_record? %>
</div>
<div class="report_view">
  <% if can?(:update, @report) %>
    <div class="report_links">
      <strong><%= t("common.edit") %> <%= Report::Report.model_name.human %></strong>
      <% if @report.new_record? %>
        <a id="edit_link_0" href="#"><%= t("report/report.report_type") %></a>
      <% end %>
      <a id="edit_link_1" href="#"><%= t("report/report.display_options") %></a>
      <a id="edit_link_2" href="#"><%= pluralize_model(Form) %></a>
      <a id="edit_link_3" href="#"><%= pluralize_model(Question) %></a>
      <a id="edit_link_4" href="#"><%= t("report/report.groupings") %></a>
      <a id="edit_link_5" href="#"><%= t("report/report.questions_attributes") %></a>
      <a id="edit_link_6" href="#"><%= t("report/report.report_title") %></a>
    </div>
  <% end %>
  <div class="report_main">
    <%= render('main') %>
  </div>
</div>

<div class="report_edit_dialog">
  <form class="report_form">
    
    <div class="report_edit_pane report_type">
      <h2><%= t("report/report.report_type") %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section">
            <div class="name vert"><%= t("report/report.what_type") %></div>
            <div class="controls vert">
              <% Report::Report::SUBCLASSES.each_with_index do |klass, i| %>
                <div>
                  <input type="radio" name="report_type" id="report_type_<%= i %>" value="<%= klass.name %>">
                  <label for="report_type_<%= i %>">
                    <h3><%= translate_model(klass) %></h3>
                    <div class="ex_lbl"><%= t("common.example", :count => 2) %>:</div>
                    <ul>
                      <% t("report/report.examples.#{klass.name.demodulize.underscore}").each do |ex| %>
                        <li><%= ex %></li>
                      <% end %>
                    </ul>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <div class="report_edit_pane display_options">
      <h2><%= t("report/report.display_options") %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section tally_type">
            <div class="name horiz"><%= t("report/report.tally_type") %></div>
            <div class="controls horiz">
              <div class="choice">
                <input type="radio" name="tally_type" id="tally_type_1" value="QuestionAnswerTallyReport" />
                <label for="tally_type_1">
                  <%= t("report/report.tally_types.question_answer") %>
                  <br/>
                  <em>
                    <%= t('common.example_abbr') %>
                    <%= t('report/report.tally_type_examples.question_answer') %>
                  </em>
                </label>
              </div>
              <br/>
              <div class="choice">
                <input type="radio" name="tally_type" id="tally_type_2" value="GroupedTallyReport" />
                <label for="tally_type_2">
                  <%= t("report/report.tally_types.grouped") %>
                  <br/>
                  <em>
                    <%= t('common.example_abbr') %>
                    <%= t('report/report.tally_type_examples.grouped') %>
                  </em>
                </label>
              </div>
            </div>
          </div>
          <div class="section display_type">
            <div class="name horiz"><%= t("report/report.how_to_display_results") %></div>
            <div class="controls horiz">
              <div class="choice">
                <input type="radio" name="display_type" id="display_type_1" value="table" />
                <label for="display_type_1">
                  <i class="icon-table"></i> <%= t("report/report.display_types.table") %>
                </label>
              </div>
              <div class="choice">
                <input type="radio" name="display_type" id="display_type_2" value="bar_chart" />
                <label for="display_type_2">
                  <i class="icon-bar-chart"></i> <%= t("report/report.display_types.bar_chart") %>
                </label>
              </div>
            </div>
          </div>
          <div class="section percent_style">
            <div class="name horiz"><%= t("report/report.what_percent_style") %></div>
            <div class="controls horiz">
              <select id="percent_style"></select>
            </div>
          </div>
          <div class="section">
            <div class="name horiz"><%= t("report/report.what_bar_style") %></div>
            <div class="controls horiz">
              <div class="choice">
                <input type="radio" name="bar_style" id="bar_style_1" value="side_by_side" />
                <label for="bar_style_1"><%= t("report/report.bar_styles.side_by_side") %></label>
              </div>
              <div class="choice">
                <input type="radio" name="bar_style" id="bar_style_2" value="stacked" />
                <label for="bar_style_2"><%= t("report/report.bar_styles.stacked") %></label>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="name horiz"><%= t("report/report.how_to_display_questions") %></div>
            <div class="controls horiz">
              <div class="choice">
                <input type="radio" name="question_labels" id="question_labels_2" value="title" />
                <label for="question_labels_2"><%= t("report/report.question_labels.title") %></label>
              </div>
              <div class="choice">
                <input type="radio" name="question_labels" id="question_labels_1" value="code" />
                <label for="question_labels_1"><%= t("report/report.question_labels.code") %></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="report_edit_pane form_selection">
      <h2><%= pluralize_model(Form) %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section">
            <div class="name horiz"><%= t("report/report.which_forms") %></div>
            <div class="controls horiz">
              <div id="form_select" class="multiselect">
                <div class="choices"></div>
                <div class="links">
                  <a href="#" class="select_all"><%= t("layout.select_all") %></a>
                  <a href="#" class="deselect_all"><%= t("layout.deselect_all") %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="report_edit_pane question_selection">
      <h2><%= pluralize_model(Question) %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section">
            <div class="name horiz"><%= t("report/report.which_calculation") %></div>
            <div class="controls horiz">
              <select id="omnibus_calculation"></select>
            </div>
          </div>
      
          <div class="section">
            <div class="name vert"><%= t("report/report.which_questions") %></div>
            <div class="controls vert">
      
              <div class="q_sel_type">
                <div class="choice">
                  <input type="radio" name="q_sel_type" id="q_sel_type_questions" value="questions">
                  <label for="q_sel_type_questions"><%= t("report/report.these_questions") %>:</label>
                </div>
                <div id="question_select" class="multiselect">
                  <div class="choices"></div>
                </div>
              </div>
      
              <div class="q_sel_type">
                <div class="choice">
                  <input type="radio" name="q_sel_type" id="q_sel_type_option_set" value="option_set">
                  <label for="q_sel_type_option_set"><%= t("report/report.questions_with_option_sets") %>:</label>
                </div>
                <div id="option_set_select" class="multiselect">
                  <div class="choices"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="report_edit_pane grouping">
      <h2><%= t("report/report.groupings") %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section">
            <div class="name vert"><%= t("report/report.what_attrib_row_headers") %></div>
            <div class="controls vert">
              <div class="primary field_selector">
                <select class="field">
                  <option><%= t("report/report.choose_attrib_question") %>...</option>
                </select>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="name vert"><%= t("report/report.what_attrib_col_headers") %></div>
            <div class="controls vert">
              <div class="secondary field_selector">
                <select class="field">
                  <option><%= t("report/report.choose_attrib_question") %>...</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="report_edit_pane fields">
      <h2><%= t("report/report.questions_attributes") %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section">
            <div class="name vert"><%= t("report/report.what_questions_in_list") %></div>
            <div class="controls vert">
              <div class="field_selector_set">
                <div class="selectors">
                  <div>
                    <select class="field">
                      <option><%= t("report/report.choose_attrib_question") %>...</option>
                    </select>
                    <a href="#" class="remove"><%= t("common.remove") %></a>
                  </div>
                </div>
                <a href="#" class="add"><%= t("report/report.add_question_attribute") %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="report_edit_pane report_title">
      <h2><%= t("report/report.report_title") %></h2>
      <div class="pane_scroll">
        <div class="error_box"></div>
        <div class="pane_body">
          <div class="section">
            <div class="name vert">
              <label for="report_title"><%= t("report/report.enter_name") %></label>
            </div>
            <div class="controls vert">
              <input type="text" id="report_title"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="buttons">
      <a href="#" class="cancel"><%= t("common.cancel") %></a>
      <a href="#" class="prev">&lt; <%= t("common.previous") %></a>
      <a href="#" class="next"><%= t("common.next") %> &gt;</a>
      <a href="#" class="run"><%= t("common.run") %></a>
    </div>
    
  </form>
</div>