<div class="tip">
  <strong><%= @report.kind.downcase.capitalize %>s</strong> 
  grouped by 
  <%= @report.groupings.collect{|g| "<strong>#{g.to_s.downcase}</strong>"}.join(" and ").html_safe %>,
  <%= @report.filter ? "filtered by <strong>#{@report.filter.str}</strong>".html_safe : "not filtered" %>
</div>
<div class="tip">
  <%= join_links(
    link_to("Back to Report Listing", report_reports_path),
    link_to_if_auth("Edit This Report", edit_report_report_path(@report), "report_reports#update")
  ) %>
</div>
<table class="report">
  <tr>
    <th></th>
    <% @report.headers[:col].each do |ch| %>
      <th><%= ch %></th>
    <% end %>
  </th>
  <% @report.headers[:row].each_with_index do |rh, r| %>
    <tr>
      <th><%= rh %></th>
      <% @report.headers[:col].each_with_index do |ch, c| %>
        <td><%= @report.data[r][c] %></td>
      <% end %>
    </th>
  <% end %>
</table>