<%= elmo_form_for(@questioning) do |f| %>

  <%= f.field(:form_id, :type => :hidden) %>

  <%= elmo_fields_for('questioning[question_attributes]', @questioning.question) do |qf| %>
    <%= render('questions/fields', :f => qf) %>
  <% end %>

  <%= published_warning(@questioning) if @questioning.published? && form_mode == :edit %>

  <% cant_update_core = cannot?(:update_core, @questioning) %>
  <%= f.field(:condition, :partial => 'conditions/form') %>
  <%= f.field(:required, :type => :check_box, :read_only => cant_update_core) %>
  <%= f.field(:hidden, :type => :check_box, :read_only => cant_update_core) %>

  <div class="submit-buttons">
    <%= f.submit(:class => 'btn btn-primary') %>
  </div>

<% end %>