<% # set title %>
<% if @questioning.new_record? %>
  <% @title = t("layout.new_obj", :obj => Question.model_name.human) %>
<% else %>
  <% @title = "#{Question.model_name.human}: #{@questioning.question.code}" %>
<% end %>

<%= flash_and_form_errors(@questioning) %>

<%= nice_form_for(@questioning) do |f| %>
  <%= f.hidden_field(:form_id) %>
  
  <% @question_pubd = f.mode == :edit && @questioning.question.published? %>
  
  <% if f.mode == :edit && !(other_forms = @questioning.other_forms).empty? %>
    <div class="tip important">
      <%= t("questions.appears_elsewhere", :forms => other_forms.map{|f| f.name}.join(", ")) %>
      <%= t("questions.other_forms_published") if @question_pubd %>
    </div>
  <% end %>

  <%= f.fields_for(:question) do |f2| %>
    <% f2.mode = form_mode %>
    
    <%= render("questions/title_and_hint", :lang => :en, :f => f2) %>
    
    <% unless @question_pubd %>
      <%= form_field(f2, :code, :required => true, :maxlength => 20) %>
      <%= form_field(f2, :qtype_name, :type => :select, :required => true, 
        :options => @question_types.map{|qt| [t(qt.name, :scope => :question_types), qt.name]}) %>
      <%= form_field(f2, :option_set_id, :type => :select, :options => sel_opts_from_objs(@option_sets)) %>
      <%= form_field(f2, :minimum, :partial => "questions/min_max_condition") %>
      <%= form_field(f2, :maximum, :partial => "questions/min_max_condition") %>
    <% end %>

    <% (configatron.languages - [:en]).each do |lang| %>
      <%= render("questions/title_and_hint", :lang => lang, :f => f2) %>
    <% end %>
  <% end %>
  
  <%= form_field(f, :condition, :partial => "conditions/form") %>
  <%= form_field(f, :required, :type => :check_box) %>
  <%= form_field(f, :hidden, :type => :check_box) %>

  <%= form_submit_button(f, :label => :save) %>
<% end %>