<%= elmo_form_for(@questioning) do |f| %>
  <%= f.field(:form_id, type: :hidden) %>

  <%= elmo_fields_for("questioning[question_attributes]", @questioning.question) do |qf| %>
    <%= qf.hidden_field(:id) %>
    <%= render("questions/fields", f: qf) %>
  <% end %>

  <%= published_warning(@questioning) if @questioning.published? && form_mode == :edit %>

  <%= f.field(:hidden, type: :check_box, read_only: cannot?(:update_hidden, @questioning)) %>
  <%= f.field(:condition, partial: "conditions/form") %>
  <%= f.field(:required, type: :check_box, read_only: cannot?(:update_required, @questioning)) %>

  <div class="submit-buttons">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>
