<tr<%= qing.condition ? " class=\"conditional\"".html_safe : "" %>>
  <td class="name">
    <% if qing.condition %>
      <div class="condition"><%= t("question.answer_only_caps") %> <%= qing.condition.to_s %></div>
    <% end %>
    <div class="name">
      <%= qing.rank %>. <%= reqd_sym if qing.required? %>
      <%= qing.question.name %>
    </div>
    <% unless qing.question.hint.blank? %>
      <div class="hint"><%= qing.question.hint %></div>
    <% end %>
  </td>
  <td class="answer <%= qing.qtype_name %>_answer">
    <% # print options if necessary %>
    <% if qing.has_options? %>
      <% qing.options.each do |opt| %>
        <div class="option">
          <div class="option_box"></div>
          <%= opt.name %>
        </div>
      <% end %>

    <%# For long text types, the box should be the whole cell. %>
    <% elsif qing.qtype_name != 'long_text' %>
      <div class="answer_box"></div>
    <% end %>
  </td>
</tr>
