<tr class="question <%= "depth-#{qing.depth}" %><%= qing.condition ? ' conditional' : '' %>">
  <td class="name">
    <% if qing.condition %>
      <div class="condition"><%= t("question.answer_only_caps") %> <%= qing.condition.to_s %></div>
    <% end %>
    <div class="name"><%= qing.name_and_rank %></div>
    <% unless qing.hint.blank? %>
      <div class="hint"><%= qing.hint %></div>
    <% end %>
  </td>
  <td class="answer <%= qing.qtype_name %>_answer">
    <% # print options if necessary %>
    <% if qing.has_options? %>
      <%= qing.question_type %>
      <% qing.options.each do |opt| %>
        <div class="option">
          <div class="option_box"></div>
          <%= opt.name %>
        </div>
      <% end %>
    <% else %>
      <div class="answer_box"></div>
    <% end %>
  </td>
</tr>
