<% condition = qing.decorate.concatenated_conditions.presence %>
<tr class="question depth <%= "depth-#{qing.depth}" %><%= condition ? ' conditional' : '' %>">
  <td class="name">
    <% if condition %>
      <div class="condition">
        <%= t("question.answer_only_caps") %> <%= condition %>
      </div>
    <% end %>
    <div class="name"><%= qing.name_and_rank %></div>
    <% unless qing.hint.blank? %>
      <div class="hint"><%= qing.hint %></div>
    <% end %>
  </td>
  <td class="answer <%= qing.qtype_name %>_answer">
    <div class="qing-code <%= qing.has_options? ? "float-right" : "" %>">
      [<%= qing.code %>]
    </div>
    <% # print options if necessary %>
    <% if qing.has_options? %>
      <%= qing.selection_instructions %>
      <% qing.options.each do |opt| %>
        <div class="option">
          <div class="option_box"></div>
          <%= opt.name %>
        </div>
      <% end %>
    <% else %>
      <div class="answer_box"></div>
    <% end %>
  </td>
</tr>
<% qing.skip_rules.each do |rule| %>
  <tr class="depth <%= "depth-#{qing.depth}" %>">
    <td colspan="2" class="skip-rule name">
      <%= SkipRuleDecorator.new(rule).human_readable %>
    </td>
  </tr>
<% end %>
