<li class="form-question form-item">

  <div class="form-item-content">

    <%# Standard question? %>
    <% if qing.standardized? %>
      <i class="standardized fa fa-certificate"></i>
    <% else %>
      <%# Spacing placeholder for styling purposes %>
      <div class="standardized"></div>
    <% end %>

    <%# Question type icon %>
    <div class="type"><%= form_item_icon(qing.qtype_name) %></div>

    <div class="base-info">

      <span class="code">[<%= qing.code %>]</span> <%# Question short code %>
      <span class="name"><%= qing.name %></span> <%# Question text %>

      <%# Required question? %>
      <%= content_tag(:span, '*', class: 'required-sym') if qing.required %>

      <%# Tags %>
      <% if qing.tags.length != 0 %>
        <% qing.tags.each do |tag| %>
          <span class="token-input-token-elmo"><%= tag.name %></span>
        <% end %>
      <% end %>

    </div> <%# End of question base info %>

    <div class="actions">

      <%# Conditional on another question? %>
      <% if qing.has_condition? %>
        <div class="condition">
          <i class="fa fa-link"></i> <span>#n.n</span>
          <%# TODO: display question number of linked question %>
        </div>
      <% end %>

      <%# Edit and delete %>
      <% if form_mode == :edit %>
        <%= link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_questioning_path(qing) %>

        <%= link_to content_tag(:i, '', class: 'fa fa-trash-o'), questioning_path(qing), method: :delete, data: { confirm: I18n.t("activerecord.attributes.questioning.delete", name: qing.name)} %>
      <% end %>

    </div>

  </div><%# End of question content %>
</li>
