<% if obj.place_suggestions.empty? %>
  <% if defined?(ajax) %>No suggestions.<% end %>
<% else %>
  <%= fields_for(obj) do |f| %>
    <% (sugs = obj.place_suggestions).each_index do |i| sug = sugs[i] %>
      <%= f.hidden_field(:place_suggestion_ids) %>
      <%= f.radio_button("#{obj.place_field_name}_id", sug.id) %>
      <%= f.label("#{obj.place_field_name}_id", sug.full_name) %>&nbsp;
      <span class="place_type">[<%= sug.place_type.name %>]</span>
      <br/>
    <% end %>
  <% end %>
<% end %>