<% obj = form.object; field_name = obj.place_field_name rescue "place"; old_value = obj.send("#{field_name}_id_was") %>
<% if old_value %>
  <% if form.mode == :show %>
    <span class="dummy"><%= obj.send(field_name).full_name %></span>
    <%= map_link(obj.send(field_name)) %>
  <% else %>
    <%= form.radio_button("#{field_name}_id", old_value) %>
    <%= form.label("#{field_name}_id", Place.find(old_value).full_name) %>
    <%= map_link(obj.send(field_name)) %><br/>
    <%= form.radio_button("#{field_name}_id", "") %>
    <%= form.label("#{field_name}_id", "None") %>
  <% end %>
<% end %>

<% if !obj.place_lookup_query && old_value && form.mode != :show %>
  <br/>
  <small>
    <%= link_to("[Lookup Places]", "#", :onclick => "show_place_lookup_form(); return false") %>
  </small>
<% end %>

<%= content_tag("div", :id => "place_lookup_form", 
  :style => !old_value || obj.place_lookup_query ? "" : "display: none") do %>
  <%= form.text_field(:place_lookup_query, :id => "place_lookup_query",
    :onkeydown => "if (event.keyCode == 13) {$('place_lookup_btn').click(); return false;}") %>
  <% unless form.mode == :show %>
    <%= button_to_function('Suggest', "lookup_places('#{obj.class.name}');", :id => "place_lookup_btn") %>
  <% end %>
  <div id="place_lookup_results">
    <%= render('places/lookup_results', :obj => obj) %>
  </div>
<% end %>