<% rowbg = 0 %>
<%= show_flash_and_form_errors(obj) %>
<% spec[:sections].each_index do |idx| section = spec[:sections][idx] %>
  <% if section[:name] %><h2><%= section[:name] %></h2><% end %>
  <% if section[:contents] %>
    <%= section[:contents] %>
  <% else %>
    <div class="tip"><%= reqd_sym %> Indicates a required field</div>
    <table class="form <%= "section#{idx+1}" %>">
    <% action = obj.new_record? ? "create" : "update" %>
    <% section[:fields].each do |field| %>
      <% if authorized?(:action => "#{obj.class.table_name}##{action}", :object => obj, :col => field[:col]) %>
        <tr class="rowbg<%= rowbg = 1 - rowbg %>"<%= field[:hidden] ? ' style="display:none"'.html_safe : '' %>>
          <td class="name">
            <%= field[:label] || field[:col].to_s.gsub("_"," ").capitalize %>
            <%= reqd_sym(field[:required]) %>
          </td>
          <td class="value"><%= field[:value].html_safe rescue '' %></td>
          <td class="details"><%= (field[:details] || "").html_safe %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
  <% end %>
<% end %>

<% if controller.action_name != "show" %>
  <%= spec[:submit] || f.submit((obj.new_record? ? "Create" : "Update") + " #{obj.class.name.underscore.gsub('_', ' ').ucwords}") %>
<% end %>