<div class="collection_form">
  <div class="items">
    <%= parent_form.fields_for(collection_name, [blank_obj] + parent_form.object.send(collection_name)) do |fields| %>
      <% fields.mode = parent_form.mode %>
      <div class="item">
        <%= fields.hidden_field(:id) %>
        <%= fields.hidden_field(:_destroy) %>
        <%= render(:partial => collection_name.to_s.singularize, :locals => {:fields => fields}) %>
        &nbsp;<%= action_link("destroy", "#", :class => "delete_item_link") unless parent_form.mode == :show %>
      </div>
    <% end %>
  </div>
  <%= link_to(t("common.add") + " " + tr_name, "#", :class => "add_item_link") unless parent_form.mode == :show %>
</div>
