<%# TODO the id attrib below should be deprecated as its not well scoped. %>
<div class="form_field <%= object_name %>_<%= field_name %>" id="<%= field_name %>" data-field-name="<%= field_name %>">

  <div class="label_and_control">
    <%# spacing here is important. must be no space after label tag %>
    <%= label_tag %><div class="control <%= options[:read_only] ? 'read_only' : '' %>">

      <%# errors %>
      <%= content_tag(:div, errors.join(' '), :class => 'form-errors') if errors && !errors.empty? %>
      <div class="widget">
        <%= field_html %>
      </div>

    </div>
  </div>
  <%= hint_popover(hint_html) %>
</div>
