<div class="status_messages <%= ajax_request? ? 'ajax' : 'no_ajax' %>">

<% flash.each do |name, msg| %>
  <%# Check if translation exists %>
  <% if !I18n.t("common.#{name}.one", :default => "").empty? %>
    <div class="<%= flash_class(name) %>">
      <strong><%= I18n.t("common.#{name}.one") %></strong>: <%= msg %>
    </div>
  <% end %>
<% end %>

  <%= defined?(object) ? render("layouts/object_errors", :object => object) : "" %>
  <script type="text/javascript">Utils.clear_success_flash_after_delay();</script>
</div>
