<%# ensures objects collection is paginated and .all is called %>
<% objects = prepare_for_index(objects) %>
<div id="index_table">

  <%# header links %>
  <% unless options[:table_only] %>
    <div class="header link_set">
      <% if paginable?(objects) %>
        <%= page_entries_info(objects, :model => klass) %>.
        &nbsp;
      <% end %>
      <%= links %>
    </div>
  <% end %>

  <% unless objects.empty? %>

    <%# wrap table in a form tag unless we are already in one %>
    <% unless options[:within_form] %>
      <%= form_tag %>
    <% end %>

    <table class="index_table">
      <thead>
        <tr class="header">
          <% if batch_ops %><th></th><% end %>
          <% fields.each do |f| %>
            <th>
              <%# if field def is a hash, look for the :title key %>
              <% if f.is_a?(Hash) %>
                <%= f[:title] %>
              <% else %>
                <%= f == "actions" ? "" : t("activerecord.table_headers.#{objects.first.class.model_name.i18n_key}.#{f}",
                  :default => objects[0].class.human_attribute_name(f)) %>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody class="index_table_body">
        <% objects.each do |o| %>
          <%# include the path for the current object in the tr tag so that we can support clicking anywhere on the row (may be nil) %>
          <% path = path_for_with_search(o) %>
          <%= content_tag(:tr,
                :id => "#{o.class.name.underscore}_#{o.id}",
                :'data-href' => path,
                :class => path ? 'clickable' : nil) do %>

            <% if batch_ops %>
              <td class="cb_col">
                <%= check_box_tag("selected[#{o.id}]", 1, false, :onchange => 'batch_cb_changed(this);', :class => 'batch_op') %>
              </td>
            <% end %>
            <% fields.each do |f| %>
              <td class="<%= "#{(f.is_a?(Hash) ? f[:css_class] : f).gsub(/[^\w\d]/, "")}_col" %>">
                <div><%= self.send("format_#{klass.model_name.route_key}_field", o, f) %></div>
              </td>
            <% end %>

          <% end %>

          <%# do second row if requested %>
          <% if respond_to?("#{klass.model_name.route_key}_second_row") && content = send("#{klass.model_name.route_key}_second_row", o) %>
            <%= content_tag(:tr,
                  :'data-href' => path,
                  :class => 'second_row' + (path ? ' clickable' : '')) do %>
              <td colspan="<%= fields.size + 1 %>">
                <%= content %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%# close the form tag if necessary %>
    <% unless options[:within_form] %>
      </form>
    <% end %>

    <br/>

    <%# create js view model for index table, only necessary if there are some objects %>
    <%= javascript_doc_ready do %>
      new ELMO.Views.IndexTable(<%=json(
        class_name: objects.first.class.name.underscore,
        modified_obj_id: flash[:modified_obj_id],
        no_whole_row_link: options[:no_whole_row_link]
      )%>);

      <% if batch_ops %>
        batch_update_select_all_link();
      <% end %>
    <% end %>

  <% end # if objects.empty? %>

  <%# pagination links (don't show if there are no entries) %>
  <% if !options[:table_only] && paginated && paginable?(objects) && objects.total_entries > 0 %>
    <div class="paginate-container">
      <%= will_paginate(objects, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>

</div>

