<div id="index_table">
  
  <%# header links %>
  <% unless options[:table_only] %>
    <div class="header link_set">
      <%= page_entries_info(ensure_paginated(objects), :model => klass) %>.
      &nbsp;
      <%= links %>
    </div>
  <% end %>
  
  <% unless objects.empty? %>
    <%= form_tag("", :method => "post", :id => "batch_form") do %>
      <table class="index_table">
        <thead>
          <tr class="header">
            <% if batch_ops %><th></th><% end %>
            <% fields.each do |f| %>
              <th>
                <%# if field def is a hash, look for the :title key %>
                <% if f.is_a?(Hash) %>
                  <%= f[:title] %>
                <% else %>
                  <%= f == "actions" ? "" : objects.first.class.human_attribute_name(f) %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="index_table_body">
          <% objects.each do |o| %>
            <tr id="<%= "#{o.class.name.underscore}_#{o.id}" %>" data-href="<%= url_for(o) %>">
              <% if batch_ops %>
                <td>
                  <%= check_box_tag("selected[#{o.id}]", 1, false, :onchange => "batch_cb_changed(this);") %>
                </td>
              <% end %>
              <% fields.each do |f| %>
                <td class="<%= "#{(f.is_a?(Hash) ? f[:css_class] : f).gsub(/[^\w\d]/, "")}_col" %>">
                  <div><%= self.send("format_#{klass.table_name}_field", o, f) %></div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if batch_ops %>
        <script type="text/javascript">batch_update_select_all_link()</script>
      <% end %>
    <% end %>
    <br/>
    
    <%# pagination links %>
    <% unless options[:table_only] %>
      <%= will_paginate(objects) if paginated %>
    <% end %>
    
    <%# flash the modified obj %>
    <% if flash[:modified_obj_id] %>
      <%= javascript_doc_ready do %>
        $('#<%= "#{objects.first.class.name.underscore}_#{flash[:modified_obj_id]}" %>').effect("highlight", {}, 1000);
      <% end %>
    <% end %>
    
    <%# hookup whole-row link %>
    <%= javascript_doc_ready do %>
      $('table.index_table tbody').on('click', 'tr', function(e) {
        // go to the tr's href unless the click was on an icon
        if (!$(e.target).is('i[class^=icon-]'))
          window.location.href = $(e.target).closest('tr').data('href'); 
      });
    <% end %>
  <% end %>
</div>

  