<div class="boilerplate">
  <div class="location_picker">
    <h2><%= t("location_picker.choose_location") %></h2>
    <div class="tip">
      <span class="cur_lat_lng"></span>&nbsp;&nbsp;
      <%= link_to(t("common.accept"), "#", :class => "accept_link") %>
      <%= link_to(t("common.cancel"), "#", :class => "cancel_link") %> 
    </div>
    <div class="map_canvas"></div>
    <form class="location_search">
      <input type="text" class="query" name="query" value=""/>
      <%= loading_indicator %>
      <div class="results"><%= t("location_picker.enter_query") %></div>
    </form>
  </div>
</div>