<div id="userinfo">
  <% if current_user %>
    <div class="mission-operations-container">
      <% unless admin_mode? %>
        <% if @accessible_missions.any? %>
          <form>
            <%# Changing missions when on a post or put request doesn't make sense, so we disable with message in that case. %>
            <%= select_tag("change_mission",
              options_from_collection_for_select(@accessible_missions, 'compact_name', 'name', current_mission.try(:compact_name)),
              id: "change-mission",
              class: 'form-control',
              prompt: "[#{I18n.t('common.none')}]",
              disabled: !request.get?,
              title: request.get? ? '' : I18n.t('layout.mission_change_get_only')) %>
          </form>
        <% end %>
      <% end %>
      <div class="operations">
        <%= operations_status %>
      </div>
    </div>

    <%# admin mode link %>
    <% if current_user.admin? %>
      <div class="icon-btn"><%= admin_mode_link %></div>
    <% end %>

    <%# link to edit profile %>
    <div class="icon-btn">
      <%= link_to(profile_link, edit_user_path(current_user.id)) %>
    </div>

    <%# logout button %>
    <div class="icon-btn">
      <%= link_to(content_tag('i','', {:class => 'fa fa-2x fa-sign-out', :title => t("common.logout")}), logout_path(:mode => nil, :mission_name => nil), :method => :delete, :id => "logout_button") %>
      <br/><br/>&nbsp;
    </div>

  <% else %>
    <%# login link %>
    <%= link_to(t("common.login"), login_path, {:class => "btn btn-secondary login"}) %>
  <% end %>
</div>
