<% body = yield %>
<!DOCTYPE html>
<html>
<head>
  <title>Command Center</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag(@js) unless @js.empty? %>
  <%= javascript_include_tag("http://maps.google.com/maps/api/js?sensor=false&key=ABQIAAAA5mPXIIEW9AiuevjQ7iPkrRTtnEapvFzd1q2lLn9v-6g2DPucZhRC1LhOfQFQwoUNHyhenCzfzRz6ZQ") %>
  <%= csrf_meta_tag %>
</head>
<body>
<table id="layout">
	<tr>
		<td id="banner" colspan="2">
			<%= image_tag("eagle-circle.png") %>
			<div id="title">
				<h1>Election Observation Command Center</h1>
				<h2>at The Carter Center</h2>
			</div>
			<div id="userinfo">
				<% if current_user %>
					Logged in as <strong><%= current_user.login %></strong> |
					<%= link_to("Edit Profile", edit_user_path(current_user.id)) %> |
					<%= link_to("Logout", user_session_path, :method => :delete) %>
				<% else %>
					<%= link_to("Login", new_user_session_path) %>
				<% end %>
			</div>
			<% if Rails.env == "development" %>
				<div id="dev_mode_warning">Development Mode</div>
			<% end %>
		</td>
	</tr>
	<tr>
		<td id="nav">
			<ul>
				<% [:users, :languages, :places].each do |k| %>
					<% if authorized?(:action => "#{k}#index") %>
						<li><%= link_to(k.capitalize, send("#{k}_path")) %></li>
					<% end %>
				<% end %>
			</ul>
		</td>

		<td class="content" id="<%= "#{controller.controller_name}_#{controller.action_name}" %>">
			<h1><%= @title %></h1>
			<%= body %>
		</td>
	</tr>
</table>

</body>
</html>
