<% body = yield %>
<% ctlr_action_name = "#{controller.controller_name}_#{controller.action_name.gsub('update', 'edit').gsub('create', 'new')}" %>
<!DOCTYPE html>
<html>
<head>
  <title><%= configatron.site_name %></title>
  <%= stylesheet_link_tag("main", :media => :all) %>
  <%= stylesheet_link_tag("screen", :media => :screen) %>
  <%= stylesheet_link_tag("print", :media => :print) %>
  <%= javascript_include_tag("prototype", "rails", "application", "effects") %>
  <%= @js.collect{|j| javascript_include_tag("custom/#{j}")}.join.html_safe unless @js.empty? %>
  <% if controller.controller_name == "places" && %w(map map_all).include?(controller.action_name) %>
    <%= javascript_include_tag("https://maps.google.com/maps/api/js?sensor=false&key=#{configatron.google_maps_key}") %>
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="banner">
  <div id="userinfo">
    <% if current_user %>
      Logged in as <strong><%= current_user.login %></strong> |
      <%= link_to("Edit Profile", edit_user_path(current_user.id)) %> |
      <%= button_to("Logout", user_session_path, :method => :delete, :id => "logout_button") %>
    <% else %>
      <%= link_to("Login", new_user_session_path) %>
    <% end %>
  </div>
  <div id="title">
    <h1><%= link_to(configatron.site_name, root_path) %></h1>
    <%= image_tag("four-dots.png") %>
  </div>
</div>
<div id="content_wrapper">
  <div id="content" class="<%= ctlr_action_name %>">
    <h1><%= @title %></h1>
    <%= body %>
  </div>
</div>
<div id="nav">
  <ul>
    <% [:responses, :forms, :questions, :options, :option_sets, :users, :broadcasts, :languages, :places, :settings].each do |k| %>
      <% if authorized?(:action => "#{k}#index") %>
        <li><%= link_to(k.to_s.gsub("_", " ").ucwords, send("#{k}_path")) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<div id="footer">
  System Version: <%= configatron.system_version %>
  <% if Rails.env == "development" %>
    <div id="dev_mode_warning">Development Mode</div>
  <% end %>
</div>
</body>
</html>
