<% body = yield %>
<% ctlr_action_name = "#{route_key}_#{controller.action_name.gsub('update', 'edit').gsub('create', 'new')}" %>
<!DOCTYPE html>
<html>
<head>
  <title><%= configatron.site_name %><%= (ttl = title(:text_only => true)).blank? ? "" : ": #{ttl}" %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "application-screen", :media => "screen" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>

  <%# For Capybara. %>
  <%= stylesheet_link_tag 'disable-transition' if Rails.env.test? %>

  <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//cdn.ckeditor.com/4.4.1/basic/ckeditor.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_doc_ready do %>
    // handles general client side stuff that appears in the template (e.g. language chooser form)
    // appears at top of file because it needs to be loaded first
    ELMO.app = new ELMO.App({
      mode: <%= current_mode.to_json.html_safe %>,
      rails_env: <%= Rails.env.to_json.html_safe %>,
      mission_name: <%= current_mission.try(:compact_name).to_json.html_safe %>,
      locale: <%=j I18n.locale.to_json.html_safe %>,
      default_locale: <%=j I18n.default_locale.to_json.html_safe %>,
      mission_locales: <%=j configatron.preferred_locales.to_json.html_safe %>,
      logged_in: <%=j (!current_user.nil?).to_json.html_safe %>,
      site_name: <%=j configatron.site_name.to_json.html_safe %>,
      session_timeout: <%=j User::SESSION_TIMEOUT %>,
      login_path: <%=j login_path.to_json.html_safe %>
    });

    new ELMO.Views.MissionChangeDropdown({el: '#change_mission select'});
  <% end %>

  <%= yield(:per_page_js) %>
</head>
<body class="<%= controller_name %>">

  <div id="userinfo">
    <% if current_user %>
      <% unless admin_mode? %>
        <% if @accessible_missions.any? %>
          <form id="change_mission">
            <%# Changing missions when on a post or put request doesn't make sense, so we disable with message in that case. %>
            <%= select_tag('change_mission',
              options_from_collection_for_select(@accessible_missions, 'compact_name', 'name', current_mission.try(:compact_name)),
              class: 'form-control', prompt: "[#{I18n.t('common.none')}]",
              disabled: !request.get?, title: request.get? ? '' : I18n.t('layout.mission_change_get_only')) %>
          </form>
        <% end %>
      <% end %>

      <%# admin mode link %>
      <% if current_user.admin? %>
        <div class="icon-btn"><%= admin_mode_link %></div>
      <% end %>

      <%# link to edit profile %>
      <div class="icon-btn">
        <%= link_to(profile_link, edit_user_path(current_user.id)) %>
      </div>

      <%# logout button %>
      <div class="icon-btn">
        <%= link_to(content_tag('i','', {:class => 'fa fa-2x fa-sign-out', :title => t("common.logout")}), logout_path(:mode => nil, :mission_name => nil), :method => :delete, :id => "logout_button") %>
        <br/><br/>&nbsp;
      </div>

    <% else %>
      <%# login link %>
      <%= link_to(t("common.login"), login_path, {:class => "btn btn-default login"}) %>
    <% end %>
  </div>

  <%# Logo and mission if selected %>
  <div id="title">
    <%= link_to(image_tag("logo.png"), current_root_path) %>
    <%# Stripping title name since we have a logo now %>
    <h2>
      <% if admin_mode? %>
        <i class="fa fa-key"></i>
        <%= t('admin_mode.admin_mode') %>
      <% else %>
        <%= current_mission.try(:name) %>
        <% if current_mission.try(:locked) %>
          <i class="fa fa-lock"></i>
        <% end %>
      <% end %>
    </h2>
  </div>

  <%# navigation bar %>
  <nav id="main-nav" class="navbar navbar-default" role="navigation">
    <% if current_user && (current_mission || admin_mode?) %>
        <% if admin_mode? %>
          <div class="navbar-header std"><%= t("standard.standard") %></div>
        <% end %>

        <ul class="nav navbar-nav">
          <% if !admin_mode? %>
            <% if can?(:create, Response) %>
              <%# submit response dropdown %>
              <li class="dropdown">
                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-share-square-o"></i><%= t('common.submit') %><b class="caret"></b>
                </a>
                <%# empty until ajax call %>
                <ul class="dropdown-menu" role="menu">
                  <li><%= loading_indicator %></li>
                </ul>
              </li>
            <%# else mission is locked %>
            <% else %>
              <%# keep nav spacing %>
              <li>&nbsp;</li>
            <% end %>

            <%= nav_links(Response, Report::Report) %>

            <%# divider %>
            <li><div class="line"></div></li>

          <% end %><%# end unless admin mode %>

          <%= nav_links(Form, Question, OptionSet) %>

          <%# divider %>
          <li><div class="line"></div></li>

          <%= nav_links(User, Broadcast, Sms::Message, Setting, Mission) %>

        </ul>
    <% end %>
  </nav>

  <div id="content" class="<%= ctlr_action_name %>">
    <%# Show errors or alerts if any %>
    <%= render("layouts/flash", :flash => flash) %>
    <%= h1_title unless @dont_print_title %>
    <%= body %>
  </div>

  <div id="footer">

    <%= link_to(t("layout.change_language"), "#", :id => "locale_form_link") %>

    <%= form_tag(nil, :id => "locale_form") do %>
      <%# We can't change language unless the request is GET since no way to redirect browser to POST, etc. %>
      <%# So we disable with message in that case. %>
      <%= select_tag(:locale, options_for_select(configatron.full_locales.map{|l| [language_name(l), l]}, I18n.locale),
        class: 'form-control', disabled: !request.get?, title: request.get? ? '' : I18n.t('layout.locale_change_get_only')) %>
    <% end %>

    &nbsp;|&nbsp;

    <%= t("layout.time_zone") %>: <%= Time.zone.to_s %> &nbsp;|&nbsp;

    <% if current_mission %>
      <%= t("sms.outgoing_provider") %>:
      <%# We have to use to_h because calling .nil? or .is_a?
        on configatron.outgoing_sms_adapter when it's nil don't work. %>
      <%= configatron.to_h[:outgoing_sms_adapter] ?
        configatron.outgoing_sms_adapter.service_name : "[#{t('common.none').capitalize}]" %> &nbsp;|&nbsp;
    <% end %>

    <%= t("layout.system_version") %>: <%= configatron.system_version %> &nbsp;|&nbsp;

    <%= link_to(t('layout.about'), 'http://getelmo.org') %>
  </div>

  <div id="glb-load-ind">
    <%= image_tag('glb-load-ind.gif') %>
    <%= t('layout.loading') %>
  </div>

<%# Include logo-dark (used for printing) here because for just-in-time ajax loading (e.g. forms) it may not load in time. %>
<%= image_tag('logo-dark.png', class: 'hidden') if controller_name == 'forms' %>

  <%# insert any audio objects at the end %>
  <%= yield(:audio) %>
</body>
</html>
