<% body = yield %>
<!DOCTYPE html>
<html>
<head>
  <title>Command Center</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag(@js) unless @js.empty? %>
  <% if controller.controller_name == "places" && controller.action_name == "map" %>
    <%= javascript_include_tag("https://maps.google.com/maps/api/js?sensor=false&key=#{configatron.google_maps_key}") %>
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="upper">
  <div id="banner">
    <%= link_to(image_tag("eagle-circle.png"), root_path) %>
    <div id="userinfo">
      <% if current_user %>
        Logged in as <strong><%= current_user.login %></strong> |
        <%= link_to("Edit Profile", edit_user_path(current_user.id)) %> |
        <%= link_to("Logout", user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to("Login", new_user_session_path) %>
      <% end %>
    </div>
    <div id="title">
      <h1>Election Observation &amp; Monitoring Command Center</h1>
      <h2>at The Carter Center</h2>
    </div>
    <% if Rails.env == "development" %>
      <div id="dev_mode_warning">Development Mode</div>
    <% end %>
  </div>
  <div id="nav">
    <ul>
      <% [:responses, :questions, :options, :option_sets, :users, :languages, :places, :settings].each do |k| %>
        <% if authorized?(:action => "#{k}#index") %>
          <li><%= link_to(k.to_s.gsub("_", " ").ucwords, send("#{k}_path")) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="content" class="<%="#{controller.controller_name}_#{controller.action_name.gsub('update', 'edit').gsub('create', 'new')}"%>">
    <h1><%= @title %></h1>
    <%= body %>
    <br clear="all"/>
  </div>
</div>
<div id="footer">
</div>
</body>
</html>
